---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Biography Transcript (KOL.722/2)">
  <h1>Biography Transcript</h1>
  <p class="page-meta">KOL.722/2 &middot; Polish Institute and Sikorski Museum, London &middot; Direct transcript from scans</p>

  <p class="archive-note">Pages 1&ndash;3: typed biographical narrative. Pages 4&ndash;8: US Army service records (WD AGO Form 53, WD AGO Form 66, DD Form 214). Transcribed verbatim. No editorial additions to the text.</p>

  <h2>Pages 1&ndash;3: Biographical Narrative</h2>
  <p class="archive-note">Typed document, author not stated. Transcribed verbatim.</p>

  <p>Paul Frederick Sapieha, 1900&ndash;1987</p>

  <p>Paul Sapieha was born on May 17, 1900. the fourth child of five. His parents were Paul Sapieha and Mathilde Windisch-Graetz. The other children were: Elizabeth, Alfred (killed on the Russian Front, 1916), Mary (future Mother Assumpta) Paul, and Matylda known as Tilka.</p>

  <p>Schooling: 1) Downside in Somerset from 1909&ndash;1914.<br>
  2) In 1914, when in the eyes of Britain he became an enemy alien, he was sent to a Jesuit boarding school in Austria.<br>
  3) University of Lvov, Agriculture and Forestry, MA 1923<br>
  4) University of Grenoble, Economics and Law, MA 1926</p>

  <p>First Military: 8th Uhlans, 1920? Wounded in battle in the Polish-Soviet War.<br>
  &nbsp;&nbsp;&nbsp;Polish Military Cross<br>
  &nbsp;&nbsp;&nbsp;Polish Gold Cross of Merit</p>

  <p>Between the Wars:<br>
  &nbsp;&nbsp;&nbsp;In 1929, Paul went on Safari to Africa for several months. He returned with a number of stuffed trophies, malaria, and a parrot which he had bought from a Greek Riverboat captain in the Congo. His mother described meeting him at the Railroad station in Lvov: &ldquo;as yellow as a lemon with a swearing parrot under his overcoat&rdquo;. The parrot could swear in several languages and learned Polish easily.<br>
  &nbsp;&nbsp;&nbsp;From 1930 until the War, he worked for his uncle (?) Henkel von Donnersmark in the coal mining business in Silesia. He also managed the estate at Siedliska, with particular emphasis on forestry and sugar from beets.<br>
  &nbsp;&nbsp;&nbsp;In 1933 he married Virgilia Peterson, a neurologist&rsquo;s daughter from New York City. Their first child, Mary Christine, was born in 1934. Their second child, Frederick Nicholas Peter Paul, known as Nick, was born in 1937.</p>

  <p>WWII: 1939: Paul Sapieha was appointed liaison officer between the British observer, Adrian Carton de Wiaart, and Marshal Smigly-Rydz. Carton de Wiaart enabled Virgilia, the children, and their nanny to escape into Romania. Paul escaped to France so as to regroup with Polish forces. He spent the winter of 1939&ndash;40 in Paris.<br>
  On the 4th of May, 1940, the whole family sailed for New York City from</p>

  <p class="archive-note">[Page break &mdash; text continues on page 2]</p>

  <p>Genoa.<br>
  1940&ndash;1942 Paul had a very unhappy time in the USA, unable to find proper work, he poured lipstick into molds for Alexandra de Markoff, sold ties at a big New York Department store, and suffered terrible anxiety because his mother and sisters were living under the Nazis in Krakow.<br>
  1942: as soon as the USA entered the War, Paul enlisted in the intelligence (G2) of the American army.<br>
  He rose from Captain to Lt. Colonel.</p>

  <p>Military Honors:<br>
  &nbsp;&nbsp;&nbsp;Croix de Guerre with Palm, French Gov&rsquo;t, July 1945<br>
  &nbsp;&nbsp;&nbsp;Croix de Guerre with Palm, Luxembourg Gov&rsquo;t, July 1945<br>
  &nbsp;&nbsp;&nbsp;Legion of Merit, GO 241 HQ ETO March 1945<br>
  &nbsp;&nbsp;&nbsp;Croix de Guerre with Palm, Belgian Gov&rsquo;t, May 1946<br>
  &nbsp;&nbsp;&nbsp;WWII Victory Medal, AR 600-65<br>
  &nbsp;&nbsp;&nbsp;EAME Campaign Medal AR 600-65<br>
  &nbsp;&nbsp;&nbsp;Korean Service Medal<br>
  &nbsp;&nbsp;&nbsp;UN Service Medal<br>
  &nbsp;&nbsp;&nbsp;NDSM</p>

  <p>In September 1945, Paul secretly accompanied the Mariacki (Wit Stwosz) altarpiece&rsquo;s return to Krakow from Nuremberg, where the Nazis had hidden it.</p>

  <p>Post War: Paul Sapieha managed Panam Airlines in Paris for about 6 months before returning to New York City late in 1946.<br>
  The struggle for work started again and Paul established a commercial business in Brooklyn, creating window displays for shops. It was not a success.<br>
  In 1950, he and Virgilia were divorced.<br>
  In 1952 he re-entered the US Army as liason with the OAS.<br>
  Within 6 months he was transferred to Korea to do work with supplies. He asked to be assigned to active duty and was stationed on an off-shore island where he trained North Korean deserters in guerilla warfare.</p>

  <p>In 1955, now retired from military service, he was appointed head of the Intergovernmental Committee on European Migrations (ICEM) in Athens, where he remained for ten years.<br>
  In 1965 he moved to Zirndorf, Northern Bavaria, to manage a riding stables where he also gave dressage instruction. It was during this period that he was an extra in the mega film &ldquo;Mayerling&rdquo; (Omar Sharif, etc.). Paul played the Captain</p>

  <p class="archive-note">[Page break &mdash; text continues on page 3]</p>

  <p>of the Imperial Guard.<br>
  After a couple of years, he moved to Munich to manage a Polish Relief Org., headed by Ludwig Lubienski (?).<br>
  In 1969, he retired to Il Trebbio, a Medici hunting estate north of Florence in the Mugello, where he pursued his interest in history and long walks with his wire-haired dachshund, Phoebe. He drove to Krakow to see his sisters many times, with Phoebe on the back seat of his Mini. He was very pre-occupied with the restoration of Krasiczyn and with the origin of the Koden Madonna.<br>
  He translated Zofia Cossak&rsquo;s book about the theft of the Madonna from the Pope&rsquo;s private chapel into French and a portion was published in a French periodical.<br>
  He died in Munich on July 21st, 1987.</p>

  <p>He was a very charming and cheerful companion. Full of compassion for the disposed of the world. And very brave at all times.</p>

  <hr>

  <h2>Page 4: WD AGO Form 53 &mdash; Certificate of Service</h2>
  <p class="archive-note">US Army separation document. Key fields transcribed.</p>

  <p class="field-row"><span class="field-label">Name:</span> SAPIEHA PAUL F</p>
  <p class="field-row"><span class="field-label">Service Number:</span> O92 4143 [O-924143]</p>
  <p class="field-row"><span class="field-label">Grade:</span> LTCOL AUS</p>
  <p class="field-row"><span class="field-label">Organization:</span> 3-2 Division Headquarters, United States Forces European Theater</p>
  <p class="field-row"><span class="field-label">Date of Separation:</span> 9 MAR 46</p>
  <p class="field-row"><span class="field-label">Separation Center:</span> FORT DIX NEW JERSEY</p>
  <p class="field-row"><span class="field-label">Employer (for mailing):</span> Guaranty Trust Co, 50th Street Madison Avenue New York</p>
  <p class="field-row"><span class="field-label">Date of Birth:</span> 17 MAY 00</p>
  <p class="field-row"><span class="field-label">Place of Birth:</span> POLAND</p>
  <p class="field-row"><span class="field-label">Race / Hair / Eyes:</span> Brown / Brown</p>
  <p class="field-row"><span class="field-label">Height / Weight:</span> 5&prime;7&Prime; / 140</p>
  <p class="field-row"><span class="field-label">Dependents:</span> 3</p>
  <p class="field-row"><span class="field-label">Date entered active duty / Place:</span> 16 MAY 43, New York, New York</p>
  <p class="field-row"><span class="field-label">MOS:</span> Foreign Liaison Intelligence Officer 9303</p>
  <p class="field-row"><span class="field-label">Campaigns:</span> Normandy, Northern France, Rhineland, Ardennes, Central Europe</p>
  <p class="field-row"><span class="field-label">Decorations:</span> Legion of Merit, Bronze Star Medal, European African Middle Eastern Campaign, Free French Croix de Guerre, Luxembourg Order of Nassau Creme [?]</p>
  <p class="field-row"><span class="field-label">Wounds:</span> None</p>
  <p class="field-row"><span class="field-label">Service outside US (1):</span> 30 Dec 43 &ndash; 4 Jan 45, EAME</p>
  <p class="field-row"><span class="field-label">Service outside US (2):</span> 27 Nov 45 &ndash; 7 Dec 45, USA [return transit]</p>
  <p class="field-row"><span class="field-label">Remarks:</span> Luxembourg Croix de Guerre; Polish Military Cross; Polish Gold Cross of Merit; French Legion of Honour Chev; ASR Score [2 Sep 45] 133; Military Intelligence; Lapel Button Issued</p>
  <p class="field-row"><span class="field-label">Signed:</span> Paul F Sapieha, 1st Lt AC ASST ADJ [countersigned by another officer]</p>

  <hr>

  <h2>Page 5: Officer Qualification Record &mdash; Personal Data and Experience</h2>

  <p class="field-row"><span class="field-label">Permanent Mailing Address:</span> 2600 [?] Washington D.C.</p>
  <p class="field-row"><span class="field-label">Birth Place:</span> Siedliska, Poland</p>
  <p class="field-row"><span class="field-label">Marital Status:</span> Divorced</p>
  <p class="field-row"><span class="field-label">Father&rsquo;s Country of Birth:</span> Deceased</p>
  <p class="field-row"><span class="field-label">Mother&rsquo;s Country of Birth:</span> Poland</p>
  <p class="field-row"><span class="field-label">Languages &mdash; Polish:</span> FL-14 FL-15 FL-13</p>
  <p class="field-row"><span class="field-label">Languages &mdash; German:</span> FL-14 FL-15 FL-11</p>
  <p class="field-row"><span class="field-label">Languages &mdash; French:</span> FL-12 FL-15 FL-11 (Sees it, no. 1)</p>
  <p class="field-row"><span class="field-label">High School:</span> Downside England, 1918</p>
  <p class="field-row"><span class="field-label">College:</span> Lvov Univ Poland &mdash; Agriculture &amp; Forestry &mdash; MA &mdash; 1923</p>
  <p class="field-row"><span class="field-label">University:</span> Grenoble Univ France &mdash; Economics and Law &mdash; MA &mdash; 1926</p>
  <p class="field-row"><span class="field-label">Civilian Occupation 1 (code 020.010):</span> Mining Engineer &mdash; 1930 to 1937 &mdash; Administration, production and sales of coal, zinc mines and smelters in Poland, Germany and Austria</p>
  <p class="field-row"><span class="field-label">Civilian Occupation 2 (code 035.070):</span> Forester &mdash; 1934 to 1939 &mdash; Administration, production and sales of own forest and agricultural lands in Poland</p>
  <p class="field-row"><span class="field-label">Sports:</span> Golf (participate); Polo (participate, excel); Hunting (participate)</p>
  <p class="field-row"><span class="field-label">Avocations:</span> Horsebreaking, Languages</p>
  <p class="field-row"><span class="field-label">Qualification in Arms:</span> Pistol Cal 45, Fam, 40rds, 21 Apr 54</p>

  <h3>Awards and Decorations</h3>
  <p class="field-row"><span class="field-label">BSM:</span> GO 12 Hq 12th Army, 15 Mar 45 &mdash; Presented: Yes</p>
  <p class="field-row"><span class="field-label">Croix de Guerre w/Palm:</span> French Govt, Jul 45 &mdash; Presented: Yes</p>
  <p class="field-row"><span class="field-label">Croix de Guerre:</span> Luxembourg, Jul 45 &mdash; Presented: Yes</p>
  <p class="field-row"><span class="field-label">Legion of Merit:</span> GO 241 HQ ETO, 9 Mar 45 &mdash; Presented: Yes</p>
  <p class="field-row"><span class="field-label">Croix de Guerre w/Palm:</span> Belgian Govt, May 46 &mdash; Presented: Yes</p>
  <p class="field-row"><span class="field-label">WWII Victory Medal:</span> AR 600-65 &mdash; Presented: Yes</p>
  <p class="field-row"><span class="field-label">EAME Campaign Medal:</span> AR 600-65 &mdash; Presented: Yes</p>
  <p class="field-row"><span class="field-label">Korean Service Medal:</span> AR 600-65 &mdash; Presented: No</p>
  <p class="field-row"><span class="field-label">UN Service Medal:</span> AR 600-65 &mdash; Presented: No</p>
  <p class="field-row"><span class="field-label">NDSM:</span> AR 600-65 &mdash; Presented: No</p>

  <hr>

  <h2>Page 6: WD AGO Form 66 &mdash; Officer&rsquo;s Qualification Record</h2>

  <p class="field-row"><span class="field-label">Name:</span> SAPIEHA PAUL FREDERICK</p>
  <p class="field-row"><span class="field-label">Service Number:</span> O 924 143</p>
  <p class="field-row"><span class="field-label">Citizenship Status:</span> Natur-1945</p>
  <p class="field-row"><span class="field-label">Religion:</span> Catholic</p>
  <p class="field-row"><span class="field-label">Height:</span> 5&prime;7&Prime; M [approx]</p>
  <p class="field-row"><span class="field-label">Weight:</span> 134</p>
  <p class="field-row"><span class="field-label">Race:</span> Caucasian</p>
  <p class="field-row"><span class="field-label">Date of Birth:</span> 17 May 1900</p>
  <p class="field-row"><span class="field-label">Home of Record:</span> New York, New York</p>

  <h3>Chronological Grade Status</h3>
  <p class="field-row"><span class="field-label">Capt AUS:</span> 16 May 43 / 16 May 43</p>
  <p class="field-row"><span class="field-label">Maj AUS:</span> 15 Sep 44</p>
  <p class="field-row"><span class="field-label">Lt Col AUS:</span> 26 Sep 45 / 26 Sep 45</p>
  <p class="field-row"><span class="field-label">Lt Col ORC:</span> Aptd 16 Dec 45</p>
  <p class="field-row"><span class="field-label">Lt Col AUS:</span> 1 May 51 [?] / 28 Nov 50</p>
  <p class="field-row"><span class="field-label">Lt Col USAR:</span> Indef Aptd 11 Sep 52</p>

  <h3>Military Occupational Specialties</h3>
  <p class="field-row"><span class="field-label">Foreign Liaison Intelligence O (9303):</span> GSC w/Trus, 20 Nov 45, Hq ETO</p>
  <p class="field-row"><span class="field-label">Inf Unit Comdr (1562):</span> FEC/LD(X)8240AU Inf, 14 May 51 [18 Jun 53?], DAAGO Intro</p>

  <h3>Foreign Service</h3>
  <p class="field-row"><span class="field-label">NATOUSA:</span> 31 Dec 43 &ndash; 13 Dec 45 (23 months)</p>
  <p class="field-row"><span class="field-label">FEC (Japan):</span> 30 Jan 53 &ndash; 7 Feb 53</p>
  <p class="field-row"><span class="field-label">FEC (Korea):</span> 7 Feb 53 &ndash; 10 Mar 54 (13 months)</p>

  <h3>Campaigns</h3>
  <p>EAME; Korean Winter Cir 9, KCom2 1952 [?]; Korean Sum-Fall 53 TA 00 69, 1953</p>

  <hr>

  <h2>Page 7: Chronological Record of Military Service</h2>
  <p class="archive-note">Detailed assignment table &mdash; partially legible. Key entries transcribed.</p>

  <p class="field-row"><span class="field-label">10 May 43 &ndash; 7 Dec 43:</span> Intelligence O &mdash; OIID Algiers [NATOUSA]</p>
  <p class="field-row"><span class="field-label">1 Jan 44 &ndash; 7 Mar 44:</span> Intelligence O &mdash; OIID Algiers</p>
  <p class="field-row"><span class="field-label">8 Mar 44 &ndash; 30 Jun 44:</span> Intelligence O &mdash; [ETO/STO]</p>
  <p class="field-row"><span class="field-label">1 Jul 44 &ndash; 30 Jun 44 [sic]:</span> Chief, Liaison Branch &mdash; [12th Army Group]</p>
  <p class="field-row"><span class="field-label">1 Jan 45 &ndash; 30 Jul 45:</span> Foreign Liaison Intelligence O &mdash; G-2, [ETO]</p>
  <p class="field-row"><span class="field-label">1 Aug 45 &ndash; 23 Nov 45:</span> Foreign Liaison Intelligence O &mdash; G-2, ETO</p>
  <p class="field-row"><span class="field-label">24 Nov 45 &ndash; 20 Dec 45:</span> Casual</p>
  <p class="field-row"><span class="field-label">21 Dec 45 &ndash; 28 Feb 46:</span> Casual / separation processing</p>
  <p class="field-row"><span class="field-label">29 Apr 52 &ndash; 30 Jul 52:</span> Foreign Liaison Intel O 9303 &mdash; G/66528 AAU, Wash DC [approx]</p>
  <p class="field-row"><span class="field-label">30 Jul 52 &ndash; [?]:</span> Economics Officer [?] &mdash; School, A8 PMC [approx]</p>
  <p class="field-row"><span class="field-label">30 Nov 52 &ndash; [?]:</span> Inf Unit Comdr, 1562 &mdash; [FEC/Korea]</p>
  <p class="field-row"><span class="field-label">30 Mar 63 &ndash; 30 Dec 63 [?]:</span> Casual</p>
  <p class="archive-note">[Further Reserve entries 1955 onward &mdash; largely illegible]</p>

  <hr>

  <h2>Page 8: DD Form 214 &mdash; Report of Separation (Korean War)</h2>
  <p class="archive-note">Korean War era separation. Key fields transcribed.</p>

  <p class="field-row"><span class="field-label">Name:</span> SAPIEHA PAUL FREDERICK</p>
  <p class="field-row"><span class="field-label">Service Number:</span> O 024 143 [O-924143]</p>
  <p class="field-row"><span class="field-label">Date of Report:</span> 4/1/54 [1 April 1954]</p>
  <p class="field-row"><span class="field-label">Grade/Rate:</span> Lt Col, AUS, Sel Grou 1D</p>
  <p class="field-row"><span class="field-label">Place of Separation:</span> Fort Myer [Virginia]</p>
  <p class="field-row"><span class="field-label">Place of Birth:</span> Poland</p>
  <p class="field-row"><span class="field-label">Home Address:</span> 162 E 95th St, New York 28, New York</p>
  <p class="field-row"><span class="field-label">Sex / Race / Hair / Eyes:</span> Male / Caucasian / Brown / Brown</p>
  <p class="field-row"><span class="field-label">Education/Training completed:</span> The Infantry School, Fort Benning, Georgia, 17 Nov 52 &ndash; 15 Dec 52</p>
  <p class="field-row"><span class="field-label">Awards (this period):</span> Korean Service Medal; UN Service Medal; National Defense Service Medal</p>
  <p class="field-row"><span class="field-label">Blood type:</span> A</p>
  <p class="field-row"><span class="field-label">Previous civilian occupation:</span> Business Executive, Plastic Ind., New York, New York</p>
  <p class="field-row"><span class="field-label">Mailing address:</span> 1926 35th Street NW, Washington DC</p>

  <div class="archive-nav">
    <span></span>
    <a href="/archive">Back to Archive</a>
  </div>
</Layout>
