---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="WWII Diary, Part I: Normandy to the Bulge">
  <h1>WWII Diary &mdash; Part I</h1>
  <p class="page-meta">KOL.722/17 &middot; Polish Institute and Sikorski Museum, London &middot; July 1944 &ndash; January 1945</p>

  <p class="archive-note">Transcript of the typed loose-leaf section of the wartime diary of Lieutenant Colonel Paul Frederick Sapieha, Foreign Liaison Branch, G-2 Section, HQ 12th Army Group. This section covers his arrival in France on 18 July 1944 through January 1945, including the liberation of Paris and the opening of the German Ardennes offensive. All entries are transcribed as written, with minimal editorial correction. Square brackets indicate editorial additions or uncertain readings.</p>

  <h2>July 1944</h2>

  <p class="diary-entry"><span class="diary-date">18 July 1944</span> Landed in France with CIB (Col. Sands, Maj. Maybury, Maj. Sackett, Capt. Ewing, Evans, Mock, Saxe, Lt. Israels, Haigsen, Sgt. Peterson, Halsh, Hragstaff, Turner). Moved to St. Sauveur de Landlette.</p>

  <p class="diary-entry"><span class="diary-date">25 July</span> First trip with Sands. Coutances, St. L&ocirc;.</p>

  <p class="diary-entry"><span class="diary-date">27 July</span> Isigny, H&ocirc;tel de France. Luncheon with Mock &amp; Israels in search of Bottin.</p>

  <p class="diary-entry"><span class="diary-date">31 July &ndash; 1 Aug</span> Big battle for breakthrough at Avranches starts.</p>

  <h2>August 1944</h2>

  <p class="diary-entry"><span class="diary-date">2 Aug</span> Trip with General. Grandville &ndash; Coutances &ndash; Avranches &ndash; Pontorson. Interrogate on BBs [German &lsquo;Befehlsbunker&rsquo;]. Visit to VIII Corps, 6th Armored. See German planes strafing road.</p>

  <p class="diary-entry"><span class="diary-date">3 Aug</span> Trip with Col. Heaver to St. James, which is no man&rsquo;s land. Find 20 PWs in doctor&rsquo;s pigsty &mdash; interrogate. Germans all around &mdash; pull out. Visit [VIII] Corps, also 6th Armored. See plane shot down. Carris killed.</p>

  <p class="diary-entry"><span class="diary-date">4 Aug</span> Trip with Col. Garvey to 1st Division through Foug&egrave;res Laval. Sleep in Laval, also visit 1st Army and VIII Corps, XV Corps. Go as far as Le Mans. Reception with tomatoes and bullets.</p>

  <p class="diary-entry"><span class="diary-date">5 Aug</span> Evening: General tells me to take over Foreign Liaison Branch and relieve Col. Jechet. Return Perriers to move.</p>

  <p class="diary-entry"><span class="diary-date">6 Aug</span> Report, take new job, meet Col. LeBel, McKitty [as] my assistant, Doquin, Fletcher &amp; Magel. Acquaint self with papers.</p>

  <p class="diary-entry"><span class="diary-date">7 Aug</span> Stay in St. Sauveur.</p>

  <p class="diary-entry"><span class="diary-date">8 Aug</span> Trip with LeBel to visit XV Corps, 5th Armored, 90th Inf. Div. Through Laval &ndash; Le Mans to XV Corps in forest to right of road to Alen&ccedil;on. Alen&ccedil;on, where spend night being bombed. See Montalemlert in Le Mans on way back.</p>

  <p class="diary-entry"><span class="diary-date">10 Aug</span> Return to St. Sauveur at 3 in the morning. Convoys, dust, bombings, flares, cool night.</p>

  <p class="diary-entry"><span class="diary-date">11 Aug</span> Visit to 3rd Army, Col. Wallace, at Basoge &ndash; Le Mans. Also evening a Frenchman from R&eacute;giment de France arrives. LeBel takes him to TAC in the evening. Gen. Koenig refuses to have anything to do with that regiment until it has fought the Germans. The Argentan-Mortain pocket being more and more squeezed.</p>

  <p class="diary-entry"><span class="diary-date">15 Aug</span> Visit to St. Sauveur of General Noiret. Take him to TAC, 1st Army, 3rd Army, to see Gen. Hodges [and Patton] &mdash; return to Laval to sleep. Frenchmen talk all night.</p>

  <p class="diary-entry"><span class="diary-date">16 Aug</span> Basoge, 3rd Army in the morning. Go on to Alen&ccedil;on and Argentan where find Prince Felix [of Luxembourg], take his papers away and ask for his recall to 3rd Army. Lunch there. Go to Gen. Leclerc (Haut CoG) CP forward. Leave Noiret to go back. Go on to XX Corps in Courrville, where arrive late in evening. Go on to Chartres trying to find 7th Armored. Chartres &mdash; still heavy fighting. Dep. chief of staff XX Corps killed. Decide not to stop at Chartres and return to Nogent le Rotron. Dinner and sleep at very pleasant hotel.</p>

  <p class="diary-entry"><span class="diary-date">17 Aug</span> Leave Nogent le Rotron early for Le Mans. Meet a certain Fran&ccedil;oise from Rochefort, Paris, who wants to get back and is very enthusiastic. Leave for La Fl&egrave;che &mdash; no man&rsquo;s land held by cadets of [La Fl&egrave;che] military boys&rsquo; school, their CO is the major-doctor. Interrogate two suspect women and have them locked up. Lunch and back to Le Mans. Receive news of all French Liaison being sacked from Lucky [12th Army Group HQ].</p>

  <p class="diary-entry"><span class="diary-date">18 Aug</span> Go back to Lucky. See Col. Wallace, who very rude to LeBel.</p>

  <p class="diary-entry"><span class="diary-date">19 Aug</span> General gives order to go as far as possible and get information from Paris. Take two cars and fly back to XX Corps same evening. Meet de Legge, Vivet, de la Vasselais there. Establish plan of action: de Legge will go to Rambouillet where he knows people and get as much info as possible; Vivet will go to Maintenon; LeBel and self will go to Chartres to question refugees. At midnight suggest this plan to Col. Collier, C of S, XX Corps, who agrees and wants to give Legge a scout car. Sleep in farmers&rsquo; barn on blankets and hay after dinner of eggs and wine.</p>
  <p class="diary-entry">Leave Legge to his scout car, Vivet to go to Maintenon, LeBel and self to Chartres. Interrogate there and find SM chief from Paris, who arrived on bicycle the night before and has much information from which apparent that Germans intend to pull out of Paris, that FFI has things well in hand at the moment. Establish contact with FFI commander of Chartres and his wife, an actress who are ready to go to Paris on bikes. Dispatch her, take back the SM Frenchman to XX Corps. Get there around 12 pm after having given his info to Gen. Walker &amp; Collier, who send him to 3rd Army. Lunch and leave for Rambouillet by car of Legge. He, we met in a Renault; in the end he did not get his scout car. We went by way of Maintenon &ndash; Rambouillet. Here we found at the H&ocirc;tel du Grand Veneur: Legge, Ernie Hemingway with a lot of FFIs. Legge gave info confirming what we had gathered in Chartres. Find Hemingway&rsquo;s driver half naked and drunk fixing jeep. Avoid Hemingway as don&rsquo;t want to get involved. Hear that FFIs hold Pr&eacute;fecture and that they have made a truce with Germans who are supposed to pull out of Paris. Leave for XX Corps. Info. LeBel gets cub from Collier for 3rd Army. Self go to meet Vivet in Chartres. Dine with him &agrave; l&rsquo;Assistance publique, sleep in sole bordel on sheets.</p>

  <p class="diary-entry"><span class="diary-date">20 Aug</span> Go to mass at cathedral with Vivet. This in dark crypt. Leave for airstrip to get LeBel, supposed to be back at 9 am from 3rd Army. He arrives at 9.30. Go back to Chartres, where find wife of FFI leader back from Issy-les-Moulineaux. She confirms statements made. Also explains road blocks at Trappes and defences before Versailles, St. Cyr, etc. Go back to Courrville. Get cub and fly to 3rd, catch another cub there and go on to St. James. Report to General who tells me CP is moving next morning. Keep cub and go on to St. Sauveur de Landlette, arrive toward 5 pm, pack up own and LeBel&rsquo;s things, order Doquin to get going, and leave for St. Sauveur James in jeep where spend night. Rain.</p>

  <p class="diary-entry"><span class="diary-date">21 Aug</span> Leave for Laval. New CP in forest &amp; park in torrential rain. Arrive, pitch tents, find de Legge. Office tent next to mine, put McKitty there. LeBel arrives late in day, spend night in some field because of bad weather. Setting up for work. In the afternoon LeBel called to Gen. Leclerc who arrived to get permission to push into Paris. General [Bradley?] grants him his wish. Prince Felix appears to get his papers back. Spend night here.</p>

  <p class="diary-entry"><span class="diary-date">22 Aug</span> Armistice commission from Paris arrives: one Swede, one Austrian, two Frenchmen. Conferences with big shots, take care of paper work. Arrange for liaison with Vivet. See Delandre for the last time.</p>

  <p class="diary-entry"><span class="diary-date">23 Aug</span> General sends for LeBel who is told that he is to leave with him at 11 am. At 10.30 Gen. Bradley sends Bridge for LeBel who has to go to airstrip. All ordered to go instead of LeBel. Leave at 11.15 with General &amp; Col. Jackson for XX Corps, through Le Mans, Nogent le Rotron, where meet and pass Leclerc&rsquo;s 2nd [Armored] Division. Col. Jackson gets ride back to Laval on C-28. General and I go to Rambouillet, where see Leclerc&rsquo;s staff and him. Dour, sour, and stiff as usual, although smiles once! Return to Chartres after finding Leclerc doing exactly opposite of initial plan of attack on Paris, cutting through lines of communication of 4th Inf. and 28th Inf., V Corps. Sleep in Chartres after very good CIC dinner in a private house.</p>

  <p class="diary-entry"><span class="diary-date">24 Aug</span> After breakfast start for Paris by southern route to reach it through Porte d&rsquo;Orl&eacute;ans. Arrive there through endless convoys and rain. Stopped by fight going on near Seaux and Leclerc unwilling to push on because of late hour, 3 pm. Caught up with Bob Low, who is detached as G-2 to V Corps, Gen. Gerow. Eat whatever there is in rations, receive a bottle of red wine from woman living in one of nearby houses. Two Germans who had climbed a tree with a mine and thrown this into one of French tanks then wished to surrender &mdash; shot on spot by French. No go into Paris so return to Chartres where CP [now] moved. Ask General to be attached with LeBel &amp; de Legge to TAC, which done, send TWX for tent and things. Sleep in guest tent. LeBel does not appear.</p>

  <p class="diary-entry"><span class="diary-date">25 Aug</span> Start at 9 am with General. Take same road as day before and ride into Paris through Porte d&rsquo;Orl&eacute;ans. Signs of small fight along the Orl&eacute;ans road, barricades of torn up pavements, multitudes on both sides of streets. Tour Eiffel in same place. Have two cases of K-rations, so throw some to people along the road.</p>
  <p class="diary-entry">Arrive at crossroads Bd. Montparnasse and Rue de Rennes, here told by Parisians that Luxembourg [the palace] is not clear of Germans; hear much shooting and cannon/mortar in that direction. Turn left and go to Gare Montparnasse. Great crowds in front. Told that Leclerc has CP in station. Leave jeep in square [Gustin?], go with General to find G. Come into station, find Gen. Gerow and Bob Low, also some of Leclerc&rsquo;s staff. Decide to wait as stiff resistance: Luxembourg, Palais Bourbon, &Eacute;cole Militaire, then Tuileries, and Pl. la Concorde, also NE sections.</p>
  <p class="diary-entry">Lady restaurant-keeper decides to heat water for coffee and brings bottle of wine. Gen. Betts appears. At 1.15 pm a few shots in front of station make us go and get Gustin [driver] to ride up on station ramp, where he can park. As we get out of building heavy shooting starts, people all run for cover. Ricochets whistling so tell General to first sit down on pavement, then lie down. Finish eating bread. After some time shooting stops, so go down to fetch Gustin. It appears that snipers from Darnand&rsquo;s militia running on roofs had started on MPs and cut off into top stories of houses and roofs. Crowds reappear and a girl hugs me. Go back to finish coffee and wine. Woman tells me a German is acting as interpreter for our soldiers. Looking out of window, see a little man like one described by woman being taken into side street by some FFI men and crowd howling at him. A few moments later see a Black Maria driving to that spot and the crowd coming back. Phone with son of woman who tells me Germans are leaving Montmartre &mdash; give this information to Bob Low. Gen. Gerow joins us for more coffee.</p>
  <p class="diary-entry">At 3 pm go round station and see German General being brought in by Leclerc. Get my General and follow into a station office where find the French don&rsquo;t want us to get in on this. So find another door, push General in, and assist when the German is being interrogated. Find he is General Dietrich von Choltitz, CO of Paris (military governor), in charge of all troops there. Has caught in Meurice hotel with all his staff, about 20 officers. Suggest to French captain that he make him sign cease-fire orders. Bob Low also. Tell him that he must say: Befehl!</p>
  <p class="diary-entry">[German cease-fire text dictated by Sapieha:] &lsquo;Der Widerstand wird an allen St&uuml;tzpunkten und St&uuml;tzpunktbereichen sofort eingestellt.&rsquo; Get a typewriter and write this in 50 copies, giving these to Choltitz to sign. He does so. The French then decide that two French officers with one German from Choltitz&rsquo;s staff will go to all points of resistance and bring these orders. They are immediately dispatched.</p>
  <p class="diary-entry">Crowd gets angry and beats, spits and curses at any German in sight. &mdash; LeBel appears. De Gaulle arrives at station, comes in with Leclerc and is very rude to Gerow, whom he doesn&rsquo;t even greet. Pictures taken of this wooden and unamiable face.</p>
  <p class="diary-entry">Stairs only a few moments, then is driven to Pr&eacute;fecture de Police. Decide to sleep at the Ritz. About 5.30 pm: Cols. Tompkins and Sands appear, with elements of Task Force. General tells them to follow us. When we get into jeep to go, many girls give us flowers, kiss me, General embarrassed at being kissed, lead the way taking the route . . . . Then take the Quai du Louvre, up by the Concorde to the Petit Palais where T-Force set up CP. Ourselves go back by way of Champs-&Eacute;lys&eacute;es, Concorde in front of Crillon, Rivoli, Castiglione &amp; T. Ritz, Pl. Vend&ocirc;me. Find this hotel as if there was no war. On the Concorde still a burning German tank; also in Tuileries near the orangerie great crowds in summer dresses, very elegant, go very slowly, so one girl hugs me, another shakes my hands, another kissed me square on lips; full of lipstick. Crillon damaged but not much, small fire in hall and first floor. Slight damage of pavements by barricading.</p>
  <p class="diary-entry">The Ritz. I was recognised by the porter when I came in. After him the manager came, then the porters. All greeted me with great effusion. Got rooms for General and self, with the greatest of ease. Slept in room 48. General had 51. No hot water, so cold baths, clean up from dust, then we go down to restaurant. Already during first moments saw women sitting in lobbies with young men. This queer after London. Restaurant 80% full. One other table with Americans &mdash; Col. Bruce, commander Armour and two others unknown to me. At another table: dirty Ernie Hemingway with FFI. The other guests looked exactly like in pre-war days: the English lady in one corner with the elderly gentleman and her large white-feathered hat in a black-grey dress; the usual few Armenian-looking oily young men with highly rouged young and elegant girls; the dresses very elegant but queer because of fashions unseen before, especially hats are queer and as if in expectation of shaved heads are at turban formed. Ate wonderfully but little: omelette aux truffes, peas, and a gateau; drank some Burgundy with it. For three, Gustin ate there at a small table alone, was later invited by some French people. 1100 francs. Went to sit with Bruce for a moment. Armour very excited about how he would leave Paris which in champagne fumes appeared to him to be surrounded by the Germans. He pulled his leg and put fear of God in him. Went then and joined Bob Low who appeared at 11 pm. He wanted to go out after dinner, also still much shooting, so asked him to desist and went to bed.</p>

  <p class="diary-entry"><span class="diary-date">26 Aug</span> Breakfast comfortably, give many rations to personnel instead of tips. Maids and floorboys enchanted; during breakfast two maids came through and crying kissed me in welcome. Go to Sands&rsquo; office, then drive up to Arc de Triomphe and leave for Chartres, where arrive at 13 h. LeBel returns later in the day.</p>

  <p class="diary-entry"><span class="diary-date">27 Aug</span> General takes me along as escort. Ride and show way for Gen. Eisenhower into Paris. Gen. Gerow waits with Koenig at Porte d&rsquo;Orl&eacute;ans. Go in by way of Minist&egrave;re de Guerre, Rue St. Dominique / Rue de Rennes first to Invalides to pay visit to de Gaulle. This lasts 30 min. Wait in anteroom with Maj. Tostes, a naturalised Frenchman. From there go to D&eacute;fense Nationale at the Invalides. De Gaulle did not accompany Eisenhower except to the door, as he considers himself Chef d&rsquo;&Eacute;tat. After this the cort&egrave;ge &mdash; Eisenhower, Bradley and me &mdash; go round the Ave. Albert I, Pl. des &Eacute;tats-Unis, to the Arc de Triomphe, then down the Champs-&Eacute;lys&eacute;es, and back to Chartres.</p>

  <p class="diary-entry"><span class="diary-date">28 Aug</span> LeBel goes with Bradley to take d&eacute;fil&eacute; of Div. 28. Self go to Rambouillet to try and contact a French officer who could work for us. Go and see the ch&acirc;teau, which in perfect order. Flowers in gardens, and go back.</p>

  <p class="diary-entry"><span class="diary-date">29 Aug</span> General sends us on mission to find out what is happening beyond Ch&acirc;teau Thierry, Chalons s/Marne, and Verdun, what Germans are doing. Leave for Fert&eacute; sons Jouart by way of &Eacute;tampes and around Paris to avoid traffic there. Visit VII Corps at Fert&eacute;, then go to Montmirail. Chalons.</p>

  <p class="diary-entry"><span class="diary-date">30 Aug</span> In torrential rain, for St. Menehould, which is no man&rsquo;s land. Establish liaison with two cavalry groups by civilian phone which works in whole region. Interrogate civilians and FFI on whereabouts of Germans, passing on this info to cavalry. LeBel sits at phone and does this. Leave for Clermont en Argonne, asking in most villages where Germans are, and hear elements of 7th Armored. Find these at R&eacute;guet village about 4 kms before Verdun. So ride on and when we arrive in Verdun find out we are first to get there. Go to pr&eacute;fecture, pretty young girl Huguette hugs us in joy, wine, champagne. At 1.30 pm big explosion rocks whole town: bridge over the Meuse blown up. Civilians say a Frenchman was tied and blown up with it. 7th Armored moves in. At pr&eacute;fecture find French girl from Paris who was the mistress of a German captain and had the day before made the ride Metz &ndash; Thionville &ndash; Luxembourg &ndash; Longuyon &ndash; Longuyon &ndash; Verdun. Tells me all: Germans running everywhere, building trenches around Trisauge and Dippach by civilian labour. Germans left Verdun at 12.10 pm, we arrived there at 12.30 pm.</p>

  <p class="diary-entry"><span class="diary-date">31 Aug</span> Leave at 7 am for Paris. Take girl to T-Force for interrogation. LeBel goes to Minist&egrave;re de Guerre, sits there for hours. Arriving in Paris go to Rouland&rsquo;s mother (Rouland &ndash; LeBel&rsquo;s chauffeur). She receives us with wine at 10 am. Lunch at T-Force mess at Laurents. Then leave for Chartres, where arrive around 5 pm. Trappes and Versailles first cleared of Germans.</p>

  <h2>September 1944</h2>

  <p class="diary-entry"><span class="diary-date">1 Sept</span> Move from Chartres to Fert&eacute; sons Jouart planned. General tells me we will not go to Paris, spend night there on way. Go to Chartres to find out how telephone communications work. Fly to Laval to fix some paper work and come back late in the evening.</p>

  <p class="diary-entry"><span class="diary-date">2 Sept</span> Move to Fert&eacute;. Spend night at Ritz.</p>

  <p class="diary-entry"><span class="diary-date">3 Sept</span> Morning go to T-Force where told that the Garde R&eacute;publicaine would make a parade, and Gen. Koenig had invited a US General to take it. General does not want to get involved, so Sapieha finds a general. Go down to Notre-Dame to show General, also Bastille and &Icirc;le St. Louis. Then go to Arc Henri IV to Garde R&eacute;p. barracks, where cavalry makes parade. Lt. Col. Lyons looks like a mushroom in the midst of elegant and tall French officers. Go and lunch in Meaux, excellent. Then go to Fert&eacute;. Most impractical CP we ever had in this campaign. Bogged down in marsh.</p>

  <p class="diary-entry"><span class="diary-date">4 Sept</span> Belgian Liaison Officer sent down to us.</p>

  <p class="diary-entry"><span class="diary-date">5 Sept</span> Go to 1st Army near Laon, where sell him. Return to Fert&eacute;.</p>

  <p class="diary-entry"><span class="diary-date">6 Sept</span> Row at 1st Army with Maj. Val&eacute;rieu who takes all our French officers out of units, pretending that such orders from Paris, that French will not cross border into Belgium. Go to Versailles to find out what this order is, find Val&eacute;rieu there, pick him up and go back to 1st Army by way of Compi&egrave;gne. Forest there still full of Germans. Arrive at 1st Army about 5 pm, explain things to Col. Meyers who quite ready to keep all French. Tell him that we will change Val&eacute;rieu for Baudoin; he agrees. Leave at 6 pm. Go to village on way down to Reims, in pouring rain. Sleep there in caf&eacute;, where received by very hospitable French family. Germans all around, stragglers &mdash; but get very good dinner.</p>

  <p class="diary-entry"><span class="diary-date">7 Sept</span> Leave early for Reims, visit cathedral, then go to 3rd Army to fix de Briey who has major for there. Lunch there, go on to Verdun &ndash; &Eacute;tain. Find note from LeBel that we will meet in Briey. Go on to there. Jeep has a broken silencer so makes as much noise as a buzz-bomb. Pass through Longleville and notice many troops but hear nothing except my jeep. Pass onto higher ground and hear guns shooting behind me and MPs shooting at me. Stop and make a dignified retirement. See that an officer has jumped to the road and is making signs to me to come back. Reach him; he tells me there are Germans in Briey since morning. This was 357th Inf. Rgt. of 90th Division, who were supposed to clear the town &mdash; this should be done within two hours. Wait around, contact mayor, look for FFI. None there, as FFI CO had left in the morning and thus nobody to take command. Order mayor to collect his men and also ask for civilians to go into town and bring back news about the Germans. At 8 pm mayor tells me two girls are ready to go on bicycles into town. Give them my blessing and brief them. In the meantime have made sure that Bn. attacking is not very dynamic and is waiting around. Get some food from mayor and rations. Go out and circle all our outposts &amp; organise my sleeping quarters. At 10 pm mayor tells me the girls are back. They tell me there are 300 Germans, two halftracks in town. Go and find Bn. CO and give him info, also advise him to attack from east and south with bayonets. He tells me that he will wait till next morning.</p>

  <p class="diary-entry"><span class="diary-date">8 Sept</span> Have breakfast at mayor&rsquo;s and am called by Bn. CO to interrogate prisoners, of which find 8 frozen and not impressive. They confirm girls&rsquo; report. Collect 10 FFIs and pass them to Bn. Also used one boy from south into town. Position still the same as last night. Four houses from south taken. Go there and find indecision. Speaking to Bn. CO a mortar shell falls a few yards away. All scram. Bn. CO leaves maps behind, so tell him that a shell shouldn&rsquo;t make him forget his things. At 11 am pick up my things and leave for Fert&eacute;. Late LeBel returns and tells me they were cut off, went through a battle with Germans, lost a car, and an FFI who was with them was killed.</p>

  <p class="diary-entry"><span class="diary-date">9 Sept</span> De Legge comes back and brings a German, Schiffner, who was in charge of mines in basin of Briey with him. Interrogate this man till midnight on Siegfried Line, on German industry, on German movements. He gives away that all his colleagues were convoked to St. Wendel for next morning to entrain at 9 am for the interior. Think our planes dealt with them. Send Schiffner to Paris.</p>

  <p class="diary-entry"><span class="diary-date">10 Sept</span> Collect laundry and stay at CP.</p>

  <p class="diary-entry"><span class="diary-date">11 Sept</span> On orders trip with both LeBel and de Legge, two cars go to Verdun, pick up de Veaux, a French-Luxembourger, and take off on a Siegfried Line inquisition. Go by way of &Eacute;tain to Longuyon. Gets late so eat here at station and spend the night. MGs rattling, suppose it&rsquo;s FFI shooting from sten-guns.</p>

  <p class="diary-entry"><span class="diary-date">12 Sept</span> Move on at 7 am to Longuwy. Am riding with de Legge standing in car with guns &mdash; Germans supposed to be along the road in woods. Get info in Longuwy that 5th Armored has passed, so we continue to Luxembourg. Arrive there about 9 am. Rain. Go to town hall where establish office in one of rooms. The town quite in order, damage only near RR station. Find Luxembourg resistance chief who gives me a few men to round up those who lately had been in Trier, Bonn, Coblenz, Cologne, Saar, and who have info on Siegfried Line. Unanimous info that Germans are running back in disorder, that Siegfried Line is not armed and not manned. Still many Germans in forests, especially in Clairvaux region, also south-east of city, mostly regrouped infantry with some officers. Find Prince Felix with son Jean, congratulate them. Get in touch with Busch in charge of security, Schommer, delegate of Duchess, and Konstruck who is in charge of resistance &amp; so-called armed forces.</p>

  <p class="diary-entry"><span class="diary-date">13 Sept</span> Two men [come in], Dr. Gr&eacute;tsch and young Carl Clasen &mdash; very helpful, give valuable info and pinpoint. Lunch at Dr. Gr&eacute;tsch&rsquo;s, very charming wife and lovely child, excellent lunch with Mosel wine. After lunch go with Legge to Grevenmacher, see 5th Armored CCA and give G-2 there info, return to town. Eat at H&ocirc;tel Cravat, sleep in Brasseur. Next morning have a certain Murphy, journalist, Trish, just arrived from Berlin; arrested, see some more civilians sent out yesterday, who all confirm that Germans crossing Moselle and Siegfried Line empty. See lots of local Nazis being brought in and beaten. Also girls&rsquo; hair being cut off. Chief of the resistance comes in and asks for two things: 1) forests south of town to be cleared of Germans; 2) resistance to be mobilised and armed. Take him to Col. Fraser, C.A., and make him present his demands. Asking Fraser to help make peace between Union (resistance) and delegates of government from London. Also get Fraser to ask for cavalry to clean up forests &mdash; which is done. Ask Busch for a car. Want LeBel and Legge to go back to General with info. Receive plein pouvoir to requisition any car in one of garages. Find German Audi convertible, front-wheel drive, get it going and leave for V Corps in Bastogne to give them info. Rain and mud. Get to V Corps at 4 pm, see G-2, then leave by way of Arlon for Verdun where HQ was. Arrive at 8.30 pm. Have room in H&ocirc;tel Bellevue with Legge, quite comfortable after long months in tents. First bath (hot) since Paris (H&ocirc;tel George V).</p>

  <p class="diary-entry"><span class="diary-date">14 Sept</span> Fix papers and routine of branch.</p>

  <p class="diary-entry"><span class="diary-date">15 Sept</span> Go Luxembourg with General, see T-Force there (Sackett, Israels, Tompkins). Return in evening. Routine for several days.</p>

  <p class="diary-entry"><span class="diary-date">18 Sept</span> Go to Briey, Hayange, to locate family of dead FFI, with LeBel.</p>

  <p class="diary-entry"><span class="diary-date">20 Sept</span> With General visit V-1 factory in ore mine of Thil. Vast galleries all fitted out for production which did not get underway however. Then Luxembourg again and back same evening.</p>

  <p class="diary-entry"><span class="diary-date">23 Sept</span> With LeBel, de Legge and la Vasselais to Luxembourg, 83rd Div. (Col. Krauthoff) to settle problem of 1st Rgt. de Paris with its Col. Fabien. This man is a Communist who has collected all sorts of men. As Krauthoff says: &frac13; of them should be incorporated into regular army, &frac13; should go back to their civilian employment, &frac13; should be shot or hanged for crimes committed. 83rd doesn&rsquo;t want them. Fabien arrives, a spare pale undernourished guttersnipe. Travels always with 3 girls, typical Communist agitator type, goes to Paris every week to make Communist propaganda. Tell him the US Army does not want him or his outfit. Also he should follow orders from French War Office and take himself off to Chalons or Montm&eacute;dy. He departs.</p>

  <p class="diary-entry"><span class="diary-date">25 Sept</span> Trip with General and LeBel to V Corps in Trois Vierges, pouring rain. Also made another trip to V Corps and Montm&eacute;dy, where meet General. Go to London with General. Fly Verdun-Paris in cub, scared as weather awful, then from Paris in C-47 to London. Arrive 3 pm. Go to St. Elizabeths, Camberley, to get warm things. Return at 10 pm, sleep in Grosvenor House. See dentist, lunch with Potkowski and Eugene, see Anne, Olo, Ritha, Sonja Gore. Leave third morning at 9 am. Have lunch in Versailles, then continue to Verdun.</p>

  <p class="diary-entry"><span class="diary-date">1 Oct</span> With General to Paris, stay at Ritz. See Toni Biddle, Tritton, Olivier &amp; Poles at SHAEF. Visit Calton and Lula Brzeski.</p>

  <p class="diary-entry"><span class="diary-date">2 Oct</span> Paris, work at COM. 2 during day. Evening party at Countess X&rsquo;s house with Stan Or&#322;owski&rsquo;s. Party uninteresting but meet very interesting banker whom put in touch with Bruce.</p>

  <p class="diary-entry"><span class="diary-date">3 Oct</span> Back in Verdun. Routine.</p>

  <p class="diary-entry"><span class="diary-date">Oct [n.d.]</span> Go down to Nancy on day it was taken. Lovely town. Where shells fall, panic of truckdrivers, nearly run over which scares me. Then move to Luxembourg.</p>

  <p class="diary-entry"><span class="diary-date">14 Oct</span> Paris to SHAEF, meeting with General, Bill Jackson &amp; Sands. Go out one evening with Mrs. Slling from Red Cross. Go to Reroquet. Frenchman fights with American. By the way, sometime at end of August [I] saw Picasso and his concubine, also paintings, Countess de la Rochefoucauld (daughter of Sixte de Bourbon) at the Ciechanowski house, also Natalie, Massine, Mrs. Alley, Mme Alley, and Audris&rsquo; girlfriend. Dinner at the Alley&rsquo;s. Mary&rsquo;s apartment, hot-falia porter, Denise Claisouin&rsquo;s aunt.</p>

  <p class="diary-entry"><span class="diary-date">15 Oct</span> Return to Verdun. Dinner on way in Chalons. Meet 10th Armored along the way.</p>

  <p class="diary-entry"><span class="diary-date">16 Oct</span> Slept in Verdun Vauban hotel; after breakfast leave for Luxembourg where whole HQ TAC moved to yesterday. Arrive at noon making trip with arty. Gen. from 102nd Inf. Div. who had been in Pacific. Gives us some tales from there. Billeted in &lsquo;Alfa&rsquo; with Legge.</p>

  <p class="diary-entry"><span class="diary-date">Oct [n.d., early]</span> Trip to 1st Army (Verviers) and back to Luxembourg. Night in Houffalize, Vieille Auberge. Very nice old people, hospitable and good food. First visit to Li&egrave;ge &mdash; town intact except bridges and some factories on western side of Meuse.</p>

  <p class="diary-entry"><span class="diary-date">20&ndash;30 Oct</span> Trip to 9th Army, Maastricht. 1st Army, Verviers. VIII Corps in Korschlim&uuml;nster, Eupen, Malmedy. Audi (German car) breaks down, leave it at Barraque Fraiture with orders to bring down to Bastogne VIII Corps, then to ordnance Harlauge. Also meeting of all liaison officers at V Corps near Malmedy. Speeches. See our woman liaison officer, Mme Gill, an Alsatian with 5th Armored, whose husband is in prison camp in Germany. Blond girl, with bad teeth, in sort of ski-suit uniform and US service jacket. Lots of guts, intelligent, friend of a US colonel commanding a combat command. Meeting held in dark tent, types a little like a picture by a modernistic painter.</p>

  <h2>November 1944</h2>

  <p class="diary-entry"><span class="diary-date">2 Nov</span> Visit from a SHAEF French officer with Indochinese blood. Send him to Echternach to see front.</p>

  <p class="diary-entry"><span class="diary-date">4 Nov</span> With General and LeBel to Nancy &ndash; Vittel (6th Army Group), French 1st Corps (Gen. B&eacute;thouard) and down to Pontarlier. In Nancy cocktail party with G-2 Koch. During this ride lose all my papers and money. After dinner go with General to party given by Gen. Eddy (XII Corps) where find Gen. Patton, Marlene Dietrich, Gen. Gay, Gaffey, Commissaire de la R&eacute;publique, Pr&eacute;fet and Mayor of Nancy. Have long talks with these Frenchmen. The Mayor is a friend of Nietzsche&rsquo;s, architect in NY. After party sit up with General, Marlene and LeBel.</p>

  <p class="diary-entry"><span class="diary-date">5 Nov</span> Go to Vittel. See Col. Harris there and Gen. de Enay, chief liaison with French 1st Corps. At 2.30 pm arrive at 1st French Corps, Gen. B&eacute;thouard. See him for a moment, leave LeBel there, go on to Pontarlier. He knows this part of France from 1923. Arrive around 5.30 pm, find billets from rather young FFIs, town major, dine in small caf&eacute;, very cold.</p>

  <p class="diary-entry"><span class="diary-date">6 Nov</span> Meeting with [Allen] Dulles and Guerrity [OSS, Bern]. Tells me a lot about Hans H. and Germany. No opposition in Germany as Communists only ones interested in disintegration of order there, all others want to lose war in order. Transport disruption great, and food situation for civilians grave. Go down to Swiss border. Rain, leave after lunch for Besan&ccedil;on where pick up LeBel at 1st French Army HQ (de Lattre de Tassigny) &mdash; this looks like HQ without much order in it, enormous. Go on and arrive at &Eacute;pinal, sleep there in private house of OSS.</p>

  <p class="diary-entry"><span class="diary-date">7 Nov</span> Leave for Nancy and Luxembourg.</p>

  <p class="diary-entry"><span class="diary-date">8&ndash;16 Nov</span> Routine and trips to Verdun. New personnel arrives, also see 10th Armored in Ottange. Organise problem of German-speaking Frenchmen. Shelling of city by 280 RR gun, shells fall at night round hotel. A party is given at the Cercle Municipal. Stems some resentment of locals because of shells which killed some civilians. Invite: Gretsches, Lamberts, Meyers. A few parties at the homes of above people, very pleasant and hospitable. General enjoys it. Send away about 80 men picked up by 83rd Div. &mdash; these are Frenchmen, Russians and Poles. Visit to 7th Armored at Macer, also 9th Army. Sleep in Aywalle. Many buzz-bombs fly over. Passing through Li&egrave;ge a buzz-bomb drops about 300 yards away and sends a big block of concrete in front of car on road.</p>

  <p class="diary-entry"><span class="diary-date">14 Nov</span> Go to Brussels to see SHAEF Mission to Belgium and Netherlands. Billeted at Palace Hotel. Dine with Tritton from Paris and Beaumont, Dryburg, Kelly.</p>

  <p class="diary-entry"><span class="diary-date">15 Nov</span> Go to 9th Army to arrange Belgian &amp; Dutch liaison officers. Very cold and rainy. Go back to Brussels for the night. Jeep&rsquo;s rotor was stolen and broken one put back during night. See Dryburg, dine alone at Palace. Find there Coppins, Capt. from Camp I, Amersham.</p>

  <p class="diary-entry"><span class="diary-date">17 Nov</span> Leave at 9 am by way of Namur, Marche, Bastogne for Luxembourg. Lunch near Bastogne in wayside inn.</p>

  <h2>December 1944</h2>

  <p class="diary-entry"><span class="diary-date">5 Dec</span> Go down to 3rd Army for inspection tour of Divisions. Nancy, then to Morhange XII Corps. Vivet, Major, receives us. Go to 35th Inf. Div. Same evening, accompanied by LeBel and de Briey. Rain and snow falling. Sleep at collaborator&rsquo;s house who gives us his point of view: he sacrificed himself for the commune by collaborating, saving others from that unpleasant task [sic].</p>

  <p class="diary-entry"><span class="diary-date">6 Dec</span> Go to 6th Armored where received very hospitably and lunched. Mud terrific. Looking on our troops, also nearly rioting. To St. Avold, 80th Inf. Div. In the evening as far as 26th Div. in Sarrebourg. Back to Morhange for night, by way of Dieuze.</p>

  <p class="diary-entry"><span class="diary-date">7 Dec</span> Up through Metz to Thionville, XX Corps. With la Vasselais in his jeep to Sierck (10th Armored) from there to Saarlautern by way of 90th Inf. Div. In Saarlautern a lot of shells, German and ours. See excellent BMW car, can&rsquo;t take it, have no rope to tow it. Furious at LeBel who goes off scrounging. Have to assist at fixing tyre on jeep. Go on to 95th Inf. Div. at Boulay. Find no one as very late. Through mud, darkness and fog back to Thionville by way of Metz where we eat. La Vasselais drives off the road nearly killing us. Back to Luxembourg at night.</p>

  <p class="diary-entry"><span class="diary-date">8 Dec</span> Metz with III Corps to find out if they want Liaison officer.</p>

  <p class="diary-entry"><span class="diary-date">10 Dec</span> Meet LeBel in Nancy to fix difficulties between French authorities and Patton&rsquo;s Army. See Col. Grandval, military commander of Nancy region.</p>

  <p class="diary-entry"><span class="diary-date">11 Dec</span> Tritton &amp; Olivier arrive from SHAEF.</p>

  <p class="diary-entry"><span class="diary-date">12 Dec</span> Take these two for trip to 1st and 9th Armies. Olivier&rsquo;s car breaks down at Wiltz &mdash; wait for repairs at Teyssot&rsquo;s office (28th Div.). Lunch there. At 3 pm in snow leave for Spa (1st Army). Arrive and do business until LeBel and Olivier arrive. Dinner, magnificent, in small restaurant. Caricature drawn at hotel where we sleep. German girl held there as spy.</p>

  <p class="diary-entry"><span class="diary-date">13 Dec</span> Leave for Maastricht, all together. Tritton, Olivier leave after lunch. LeBel &amp; self go to XIX Corps, 84th and 102nd Div., which in Germany (&Uuml;bach). See Kaminski, Capt., chief liaison at XIX Corps. Get on way as far as Houffalize where we sleep at Vieille Auberge.</p>

  <p class="diary-entry"><span class="diary-date">14 Dec</span> Back in Luxembourg through Wiltz.</p>

  <p class="diary-entry"><span class="diary-date">15 Dec</span> Leave for Paris in jeep. Very cold. Arrive 7 pm. Go to Ritz. Treatment of my driver very bad. See Gen. Kopanski, Sliwinski, Ostrowski, Kleberg. Treat Polish liaison problems at Union Club.</p>

  <p class="diary-entry"><span class="diary-date">16 Dec</span> Spend morning in Versailles &mdash; ceremony for Eisenhower, pinning of [Virtuti Militari] on him by Gen. Kopanski, Biddle, Tritton, Olivier. COM. 2. In afternoon also Kopanski, Sliwinski and Sobocinski on Polish problems.</p>

  <p class="archive-note">EDITORIAL NOTE: On this same day, December 16, 1944, German forces launched the Ardennes Offensive (Battle of the Bulge). The diary records the impact on following days.</p>

  <p class="diary-entry"><span class="diary-date">17 Dec</span> Leave Paris after lunch. Arrive Luxembourg at 7 pm. Find Germans have broken in between Malmedy and Echternach. People worried, dinner by General called off. See General.</p>

  <p class="diary-entry"><span class="diary-date">18 Dec</span> LeBel and Legge go to VIII Corps. Stay and do routine with 9th Army. Situation difficult but not in any way impossible.</p>

  <p class="diary-entry"><span class="diary-date">19 Dec</span> Verdun for routine.</p>

  <p class="diary-entry"><span class="diary-date">22 Dec</span> Orders from General to reconnoitre Ch&acirc;teau d&rsquo;Ardennes. Leave around noon, by way of Florenville, VIII Corps, Bouillon, Beauraigne, Ch&acirc;teau d&rsquo;Ardennes. Lovely spot already in no man&rsquo;s land. See how hotel looks. Go to Dinant, from there Philippeville and down to Rocroi. Sleep here, cold.</p>

  <p class="diary-entry"><span class="diary-date">23 Dec</span> By way of Charleville, Sedan back to Luxembourg. Incident with MPs who ask me questions I don&rsquo;t know: who won World Series, general orders. [Sapieha] stopped by MPs who didn&rsquo;t believe he was American. He didn&rsquo;t know anything about baseball &amp; they were going to shoot him, but then they asked about the train and he knew because he was living in Bronxville! [family annotation on original]. Sapieha&rsquo;s train to Bronxville goes to Tuckahoe.</p>

  <p class="diary-entry"><span class="diary-date">Dec [25]</span> Poor Xmas. Situation much better, weather improving. Go out with General to XI Corps.</p>

  <p class="diary-entry"><span class="diary-date">25 Dec</span> Church. Go out with General to 5th, 80th, 26th Inf. Div. Lovely weather, very cold.</p>

  <p class="diary-entry"><span class="diary-date">26 Dec</span> Go to Arlon with Saucy. Interrogate PWs all day, poor lot, but officers cocky.</p>

  <p class="diary-entry"><span class="diary-date">28 Dec</span> Go out with General.</p>

  <h2>January 1945</h2>

  <p class="diary-entry"><span class="diary-date">1 Jan</span> Poor New Year&rsquo;s: with Gretsches. Did not go to party of Lamberts &mdash; situation of civilians in North of this country too difficult. NY writes to Prince.</p>

  <p class="diary-entry"><span class="diary-date">2 Jan</span> Go to Bastogne with General and Col. Standish. See 101st Airborne, also 4th Division. Very cold, many Germans killed. Bastogne very battered from bombs and shelling. Return in evening.</p>

  <p class="diary-entry"><span class="diary-date">3 Jan</span> Verdun and routine. Things look well. Mme de Bordes visits.</p>

  <p class="archive-note">END OF TYPED/LOOSE-LEAF SECTION. The narrative continues in Part II (the bound British Government diary), which begins on 1 November 1944 and runs to June 1945, overlapping with the above for November&ndash;December 1944.</p>

  <div class="archive-nav">
    <a href="/archive">&larr; Archive</a>
    <a href="/archive/diary-part-2">Part II: Rhineland &amp; Central Europe &rarr;</a>
  </div>
</Layout>
