---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="WWII Diary, Part II: Rhineland, Ardennes and Central Europe">
  <h1>WWII Diary &mdash; Part II</h1>
  <p class="page-meta">KOL.722/17 &middot; Polish Institute and Sikorski Museum, London &middot; November 1944 &ndash; June 1945</p>

  <p class="archive-note">From a bound British Government diary (S.O. Book 130, George VI cypher, &lsquo;Supplied for the Public Service&rsquo;), written principally in the third person as a branch operations log, interspersed with personal first-person entries. Covers the period from routine liaison work of autumn 1944 through to the end of the war and early occupation. This section overlaps with Part I for November&ndash;December 1944.</p>

  <h2>November 1944</h2>

  <p class="diary-entry"><span class="diary-date">1&ndash;7 Nov</span> Send away 10 and 80 men &mdash; French, Russian and Polish from 3rd Div., back home. Went to see 9th Armored to leave one French officer there (VILLARDS). Went down to visit 3rd Army, XII Corps, 7th Army, 6th Army Group, I French Corps, and 1st French Army HQs.</p>

  <p class="diary-entry"><span class="diary-date">7 Nov</span> 9th Army called up to find out what happened to Dutch officers. Maj. Kelly, SHAEF (Brussels) called to ask whether we had asked for CIC liaison officers for 9th Army &mdash; we had not. Was told we had not. 9th Army was asked to make a survey of how many more liaison IOs they wanted. Report for October was sent out.</p>

  <p class="diary-entry"><span class="diary-date">8 Nov</span> Maj. Sapieha and Maj. de Legge went to Eagle Main [12th Army Group HQ].</p>

  <p class="diary-entry"><span class="diary-date">9 Nov</span> Maj. de Legge went to Paris SHAEF. Capt. Brink, Conquer Regt. 60/I called about Dutch Liaison Officer.</p>

  <p class="diary-entry"><span class="diary-date">10 Nov</span> Col. LeBel and Maj. Sapieha left for Nijmegen (Holland) this morning (7th Armoured Div. and 9th Army). Lt. Villard from &lsquo;Combat&rsquo; called and said: 1) OK to get the German-speaking MO; 2) necessary for him to get a pass from SHAEF. Col. Lee called about Maj. Tritten; noted cable address; went to Braunmont.</p>

  <p class="diary-entry"><span class="diary-date">11 Nov</span> Col. LeBel and Maj. Sapieha back from 7th Armoured Div. and 9th Army.</p>

  <p class="diary-entry"><span class="diary-date">12 Nov</span> Col. LeBel and Maj. Sapieha went to Verdun to meet 33 NCOs, and Maj. de Legge with Transatlantic. Capt. Brinks, from Conquer Regt. 60/I called to enquire about German-speaking French personnel getting attached to their units, and what grades they were and by whom they would get paid. Major de Legge back from Paris.</p>

  <p class="diary-entry"><span class="diary-date">14 Nov</span> Maj. Sapieha went to Brussels. Col. LeBel and Maj. de Legge to Ottange/France.</p>

  <p class="diary-entry"><span class="diary-date">15 Nov</span> Brussels: SHAEF Mission to Belgium and Netherlands (Bryans, Wilkinson, Major). Discussed and settled problem of attachment of 1 officer and 5 Ems Belgian to G-2; 1 officer, Dutch, for G-Army, G-4. Visit to G-Army: G-1 Brig.; G-4 Col. Kyser; PM: Col. Andrews. Latter wanted me to take Parachutists away unless he gets more than 4 security battalions. G-4 agrees selling clothing to allied officers.</p>

  <p class="diary-entry"><span class="diary-date">17 Nov</span> Sent TNX SHAEF Mission to Belgium &amp; SHAEF, forward request for 1 officer &amp; 5 Ems for workshop. Sent TNX Conquer G-4, Col. Kyser, in connection with Dutch officer. Return CP.</p>

  <p class="diary-entry"><span class="diary-date">18 Nov</span> Maj. Sapieha left for Blackstone with Col. Brunschwig. Col. Andrews from Conquer called.</p>

  <p class="diary-entry"><span class="diary-date">19 Nov</span> With Brunschwig to XX Corps PW Camp.</p>

  <p class="diary-entry"><span class="diary-date">22 Nov</span> Col. LeBel went to Paris. Visit to Metz, contact with la Vasselais on tour of sector Friday 24.</p>

  <p class="diary-entry"><span class="diary-date">24 Nov</span> Maj. Sapieha and Col. de Legge went to Metz &ndash; Verdun &ndash; Kirsch-les-Cinque.</p>

  <p class="diary-entry"><span class="diary-date">26 Nov</span> TWX to SHAEF Mission to Belgium: 5 men will be picked up Nov. 27 at 1300 hours; sent orders. TWX to SHAEF Mission to Netherlands about arrangements to be made for paying out Dutch officer through Netherlands Government.</p>

  <h2>December 1944</h2>

  <p class="diary-entry"><span class="diary-date">1 Dec</span> Monthly report handed in.</p>

  <p class="diary-entry"><span class="diary-date">4 Dec</span> Maj. Sapieha went to Blackstone. Col. LeBel and Maj. Sapieha went to VIII Corps Cavalry Group.</p>

  <p class="diary-entry"><span class="diary-date">5 Dec</span> Col. LeBel and Maj. Sapieha went to Lucky, Calnet, Iceberg.</p>

  <p class="diary-entry"><span class="diary-date">8 Dec</span> Maj. Sapieha went to Boulogne with Col. LeBel.</p>

  <p class="diary-entry"><span class="diary-date">9 Dec</span> Maj. Sapieha went to Metz with Maj. de Legge.</p>

  <p class="diary-entry"><span class="diary-date">11 Dec</span> Col. Olivier and Maj. Tritten arrived at 1700.</p>

  <p class="diary-entry"><span class="diary-date">12 Dec</span> Maj. Sapieha accompanies Col. Olivier, LeBel and Maj. Tritten to 1st and 9th Armies.</p>

  <p class="diary-entry"><span class="diary-date">15 Dec</span> Maj. Sapieha left for Paris. Col. LeBel and Maj. de Legge went to III Corps.</p>

  <p class="diary-entry"><span class="diary-date">17 Dec</span> Maj. Sapieha back from Paris. Col. LeBel and Maj. de Legge went to VIII Corps.</p>

  <p class="diary-entry"><span class="diary-date">19 Dec</span> Maj. Sapieha went to Eagle Main.</p>

  <p class="diary-entry"><span class="diary-date">22 Dec</span> Maj. Sapieha visited III Corps.</p>

  <p class="diary-entry"><span class="diary-date">23 Dec</span> Maj. Sapieha accompanied Col. LeBel to 1st Army HQ.</p>

  <p class="diary-entry"><span class="diary-date">28 Dec</span> Maj. Sapieha accompanied Gen. S.</p>

  <p class="diary-entry"><span class="diary-date">31 Dec</span> Report on activities.</p>

  <h2>January 1945</h2>

  <p class="diary-entry"><span class="diary-date">2 Jan</span> Col. LeBel and Maj. Sapieha went to see Col. Bn.</p>

  <p class="diary-entry"><span class="diary-date">7 Jan</span> Maj. de Legge went to Paris.</p>

  <p class="diary-entry"><span class="diary-date">12 Jan</span> Maj. Sapieha went to Main. Belgian liaison officers for Lucky.</p>

  <p class="diary-entry"><span class="diary-date">16 Jan</span> Col. LeBel, Maj. de Legge and Maj. Sapieha went to Main.</p>

  <p class="diary-entry"><span class="diary-date">17 Jan</span> Maj. Sapieha accompanied Col. LeBel to 1st Army and V Corps, Spa.</p>

  <p class="diary-entry"><span class="diary-date">24 Jan</span> Visit to 9th Army in connection with relief of all French personnel asked by them. See Col. Millner, deputy C/S, explaining. Also Col. Tracy, Sec. A-2, Col. Abbott and Clement. Go to XII Corps &mdash; Col. Carter not there, see Capt. Freys. Go down through Houffalize, which completely destroyed (300 civilians killed by air). Go to III Corps, see Tritten from 26th ID. He lost his driver on mines in Italy. LaBorde strafed by German plane, driver has broken arm. See XXII Corps, Col. Blomquist, C of S, who asks for French officer.</p>

  <p class="diary-entry"><span class="diary-date">25 Jan</span> Relieve all French personnel at 9th Army. Attach 11 Belgians: 2 for duty 3rd Army HQ; 3 for 14th Army; 6 for 1st Army (7th Armored). Relieve Parmenter from 9th Army PM for duty with Belgian Army (all active service Belgians are being called back).</p>

  <p class="diary-entry"><span class="diary-date">27 Jan</span> Move to VIII Corps, Bastogne. See Sarrat. Lunch. March arrives new CP at 4 pm. Office cold, also billet. Send paper on Tactical Liaison to SHAEF G-2.</p>

  <p class="diary-entry"><span class="diary-date">29 Jan</span> Brussels: SHAEF Mission to Belgium, Dryburgh. Fix colonel to be head of Belgian mission at Eagle. Get officer for XXII Corps. Fix pay for Dutch officer (G-4, 9th Army). See Lt. Kuipers, 53 Ave. des Nations, Brussels. See Kelly in 8th Gen. Hospital. Return 5 pm. LeBel returns.</p>

  <p class="diary-entry"><span class="diary-date">31 Jan</span> Dryburgh comes down. Go Col. King, ACS G-2, C of S on Belgian Liaison &mdash; chief problem.</p>

  <h2>February 1945</h2>

  <p class="diary-entry"><span class="diary-date">1 Feb</span> Agreement reached for Belgian colonel to be attached here &amp; ADSAC. General OK. Go to Waterloo &mdash; do not get there, roads too churned up. Go to 1st Army HQ (Spa) with LeBel. Qu&agrave;zz him on the way for 2&frac12; hours. Gets mad. See Col. Meyers, and Maj. Baudouin. Also Bob Low. Li&egrave;ge horribly hit by buzz-bombs. On return find Col. Chevalier, Chief of MNA Southern Armies. Friendly but doesn&rsquo;t know who I am, treats me like air, has his officers with him. Do not feel well, sleep very badly.</p>

  <p class="diary-entry"><span class="diary-date">2 Feb</span> Write, no trip. Trouchand, Breye here. Report for January.</p>

  <p class="diary-entry"><span class="diary-date">3 Feb</span> Send officer (Belgian) to XXII Corps. LeBel decorated after briefing. Goes to VII Corps. Answer from 2e Bureau &mdash; Lt. Luce and others from cage (PW) here. Walk.</p>

  <p class="diary-entry"><span class="diary-date">5 Feb</span> Go to Revin. See Sieges, Stearns, Griba, Martin, Ingham, Gianni, Brown, Harris, Buyr &mdash; all ESDIC men. Morale very low, bad management, no policy, briefing inadequate, handled in a slipshod way with favourites like Giannini sneaking around. Briefly a lot of excellent men, with training and experience wasted, and work morale very up and down. Return at 5.30 pm, rain.</p>

  <p class="diary-entry"><span class="diary-date">6 Feb</span> Col. de Mot drops on my head with orders from SHAEF. See Gen. and Allen about him, all agree to allow the attachment. Introduce him to LeBel, de Legge.</p>

  <p class="diary-entry"><span class="diary-date">7 Feb</span> De Mot arrives. Establish his office, do translation of 2e Bureau report. Introduce de Mot to Sibert, Allen, Bradley. Visit to Governor on Bradley.</p>

  <p class="diary-entry"><span class="diary-date">9 Feb</span> Routine office work. Dinner at the Liedickerquis. General, LeBel, Dutton.</p>

  <p class="diary-entry"><span class="diary-date">10 Feb</span> Trip with de Mot to 9th Army, Maastricht, then 7th Armored, Eupen. See Gen. Hasbrouck, Gen. Mone at G-4. Get de Mot started with PM at 9th Army. Go to [place?], roads awful. Aachen just rubble. Find the Neyrincks, Belgians at 7th Armored. Murray insists on keeping Milka (French major). Promise to see LeBel on it. Return 8.30 pm. LeBel gone to Luxembourg.</p>

  <p class="diary-entry"><span class="diary-date">11 Feb</span> Routine, mass till 11 am. Go then to 83rd Div. in Dalhem. Find Pag&egrave;s (Fr.) and Thiry (Belg.). Col. Boite takes place of Krauthoff who is dead as C of S. Lunch there. Go to Maastricht, G-1 and Dor (Fr. Maj.) &mdash; find Dor&rsquo;s man committed suicide. Ask Dor to pass on interesting reports to G-2. At G-1, arrange for attachment of liaison direct to units.</p>

  <p class="diary-entry"><span class="diary-date">13 Feb</span> De Mot in Brussels. Biddle phones. Vandesande, Col., Command, Military Region Namur &ndash; Luxembourg. Calls on Gen. Bradley.</p>

  <p class="diary-entry"><span class="diary-date">15 Feb</span> Photograph of all in the morning. 11 am leave for Paris with General Jackson. Fine day &mdash; Charleroi, Beaumont, Avesnes, Laon &ndash; Soissons &ndash; Paris. Arrive at 6 pm. Go immediately to 10, Rue du G&eacute;n&eacute;ral Laurents. Receives me and invites to lunch. Evening, dinner Ritz with Col. Gamble.</p>

  <p class="diary-entry"><span class="diary-date">16 Feb</span> Com. Z Col. Conrad &amp; White. Arrange for Isums &amp; HIS to be sent to [Col.] Davis, G-2 Sec., for Delbos who will get them to Laurent. 11 am, go out to SHAEF. See Triton &amp; Biddle on French problems. Arrange for meeting with Gen. Koeltz mission. Lunch with Olivier and [others], Tritton. Leave Versailles 2 pm with General. Go to Delbos&rsquo; office. Arrange from &amp; HIS problem. Dinner with Morawski, W. Potocki at embassy. Discuss Polish problem.</p>

  <p class="diary-entry"><span class="diary-date">17 Feb</span> Walk with General till 10.45. Tritton and I go to see Rotral. Put French question very plainly &mdash; either unification of mission or abolish role. Lunch with Laurent, Gitzpenkeants [?], Maj. Balmagre, at Prunier&rsquo;s. See Delbos &amp; Lt. Combatusi&egrave;re, send them to see Lt. Col. Sants. Visit Rose Tyzzkiewicz, then Iwa Typp. Dine with Zabietto, Nohl, Potocki, Ima T., General, and his duchess at the Ritz.</p>

  <p class="diary-entry"><span class="diary-date">18 Feb</span> Take leave from Jackson, leave Paris at 10 am. Same road. Return Namur 5 pm. Find much work.</p>

  <p class="diary-entry"><span class="diary-date">19 Feb</span> Routine. And Lee here. Discuss problem of attachment of all Poles &amp; others through me.</p>

  <p class="diary-entry"><span class="diary-date">20 Feb</span> De Legge returns. Sgt. Pr&eacute;viti, Audrac arrives. Visit to Bishop with Gen. Bradley. Parcel from US.</p>

  <p class="diary-entry"><span class="diary-date">21 Feb</span> LeBel decorated [with] Legion of Merit. Fredy sent back to SHAEF under escort. Send cable to Maxmile. 9th Army &ndash; Andrews &mdash; calls asking for relief of Goffinet who has gone for a week; also attachment of Liaison officers for 15th and 23rd Fusilier Battalions.</p>

  <p class="diary-entry"><span class="diary-date">22 Feb</span> Leave with de Mot for 3rd Army. LeBel for Verdun. Good ride, fine weather. Work with Lee and Sands on liaison problems. Dinner with Lee, Ritchie (female), Legge.</p>

  <p class="diary-entry"><span class="diary-date">23 Feb</span> LeBel goes to Paris. Legge to Charleroi. Self to Luxembourg. Find at 3rd Div. de Mot, Loenacs, his captain. See Col. Edwards, P.M.; also van Daun (Military?), de Brey and Vivet. Then go to visit Lamberts and Gehlen [?]. Dine with de Mot, Legge, Breye, Loenacs, then go see Gretsches. There &mdash; Lamberts, Claasens.</p>

  <p class="diary-entry"><span class="diary-date">24 Feb</span> See Edwards again. Go to inspect Belgian Bn. in Sch&ouml;nfels, where lunch with officers: Comstock, Capt. US, Padre with beard.</p>

  <p class="diary-entry"><span class="diary-date">25 Feb</span> Return Namur with de Mot. Go to church. LeBel, Laurent, Janot and Mme Pierre (2e Bureau) arrive. Nothing can be shown them. Give drinks at 6, then take them to General&rsquo;s dinner.</p>

  <p class="diary-entry"><span class="diary-date">26 Feb</span> Take Laurent and party to XII Corps in Larochette. Vivet heads us, as Laurent in hurry to get to Metz. Return with LeBel, who scared of my driving.</p>

  <p class="diary-entry"><span class="diary-date">27 Feb</span> And. Bogomolov here with Tomy Biddle.</p>

  <p class="diary-entry"><span class="diary-date">28 Feb</span> Routine. Teyssot and Sancelin from 28th Inf. Div. here. Typhoid and Tetanus injections. Talk with Dryburgh.</p>

  <h2>March 1945</h2>

  <p class="diary-entry"><span class="diary-date">1 Mar</span> Routine in the morning.</p>

  <p class="diary-entry"><span class="diary-date">2 Mar</span> Bilbane here. Decline Croix de Guerre, as will not be decorated. Long discussion on DGER.</p>

  <p class="diary-entry"><span class="diary-date">3 Mar</span> Go to Brussels. See Dryburgh and Beaumont. Discuss Belgian problem &mdash; hear fight between Mission and Ministry. Return 4 pm, discuss problem of Bilbane and DGER with OSS, Col. Colby. Difficulties with 3rd [Army] as usual on Bilbane. R&eacute;cin calls on release of LeBel, Rotral proposed.</p>

  <p class="diary-entry"><span class="diary-date">4 Mar</span> Sunday. Church. Discuss Rotral with General who doesn&rsquo;t quite want him. Change cable &mdash; stating want someone better. Have idea about way of writing memoirs by primadonnas of this war. Write fifty. Walk in afternoon. Evening: Ridley makes sketches of self &amp; LeBel.</p>

  <p class="diary-entry"><span class="diary-date">5 Mar</span> Problem of decorations by Koeltz and Juin. See Gen. O&rsquo;Hare, fix French COs&rsquo; arrival. Go call on de Mot&rsquo;s office. Decorations scheduled for Friday 9 March. Discuss problem of &lsquo;duty&rsquo; with LeBel. War goes excellently. 9th Army has only had 830 men killed since beginning of operation. Madness to stay here instead of being forward on Rhine.</p>

  <p class="diary-entry"><span class="diary-date">6 Mar</span> De Legge returns. See about decorations with O&rsquo;Hare, LeBel, Wagstatt, Hannen. Fix how ceremony is to go. Receive news that Juin will be here Friday 9 March noon, ceremony at 4 pm in square of cathedral. Discuss with Cols. Forgan, Gamble, Colby, problem of DGER at 3rd Army in connection with Bilbane (Rh&eacute;toret).</p>

  <p class="diary-entry"><span class="diary-date">7 Mar</span> Go to 1st Army (Spa) with de Mot. See Col. Meyers (C/S), introduce him. Also Col. Wright, PM, on problem of liaison with Belgian Bns. He asks for one officer now. Brigade HQ has been asked for by 1st Army. Suggest all Belgian personnel be administered by their Brigade HQ, and liaison with only them then necessary. Lunch with Beardom and Sluen. Then go G-5, Col. Juri, and to Belgian Mission with G-5. There are 4 of them. Problem of Belgian PWs is discussed. See necessity of having PDR officers at every division, one per division, or at least a pool of 3 at each corps. Return 5.30 pm. Write monthly report and send away.</p>

  <p class="diary-entry"><span class="diary-date">8 Mar</span> Routine and problems with decorations. Go and see Gen. dk. Graf v. Rothkirch &mdash; saw him during Anschluss in Vienna, did not recognise me. Give letter to Erik, who going to NY &mdash; problem of educating Germans to run administration in Germany is still on my mind with G-5 who have asked for IPW team. Lt. Col. Merlin and Colombet are here on inspection tour. Receive jeep from Gen. Sibert.</p>

  <p class="diary-entry"><span class="diary-date">9 Mar</span> Gen. Juin arrives for decorations here. Rehearse all morning with French and US troops. Ceremony at 4.30 pm. Juin does not decorate G&rsquo;s. Slight offence on their side. 8 decorated: Bradley, Patton, Hodges, Brereton, Doolittle, Gerow, Simpson, Vandenberg. See Juin in evening. Few words then go home.</p>

  <p class="diary-entry"><span class="diary-date">10 Mar</span> Leave for Verdun in morning. Get there for lunch. See Lee. Fix last minute arrangements for ceremony for Koeltz. He arrives 4.25 &mdash; ceremony, arrived at 4.30. Champagne with Lewis and depart for Luxembourg. Nothing arranged here, work till night. French all excited. See Gretsches.</p>

  <p class="diary-entry"><span class="diary-date">11 Mar</span> Ceremony at 16. Arrange for transport in CRs and escort. Leave 11.30 for VIII Corps at Adenau by way of Bitburg. All villages and towns razed. Germans looting, billeting. At 4 ceremony at VIII Corps, very good orchestra from HID. Leave immediately afterwards for D&uuml;ren. Sarrat &mdash; &lsquo;Offre ne fait m&ecirc;me pas le chemin &agrave; prendre.&rsquo; Arrive D&uuml;ren at 9.15 pm, rain. Bad roads. Sleep in barracks.</p>

  <p class="diary-entry"><span class="diary-date">12 Mar</span> Do all arrangements with Col. Sam Myers. Leave for Cologne after ceremony. French simple program with V Corps in afternoon. K&ouml;che waiters in rain. See Cologne, all in ruins except cathedral. Dinner all rubble. Leave for Mechernich, V Corps, at 2.30 pm. Ceremony good. See Hasbrouck (7th Armored), Mason, Stichner. Immediately after ceremony leave for D&uuml;ren and M&ouml;nchen-Gladbach, where arrive at 7 pm. Dinner at Gen. Simpson&rsquo;s with Biddle, Smith. Live in German General-Director&rsquo;s home.</p>

  <p class="diary-entry"><span class="diary-date">13 Mar</span> Ceremony at 10 and 2 pm. Arrange for further decoration. See Dutton and Duch&egrave;ne. Latter on French PW problem. Leave them at 3 pm. LeBel forgotten, as usual. French too excited. Wait in Aachen with Koeltz, but catch up only in Li&egrave;ge. Arrive at 6.30 Namur.</p>

  <p class="diary-entry"><span class="diary-date">14 Mar</span> Ceremony for G&rsquo;s at 10 am. Then off to Dinant. Ch&acirc;teau d&rsquo;Ardennes, 15th Army. Ceremony very good. Make Gerow put on his Croix de commandeur. Excellent lunch. Koeltz leaves for Paris.</p>

  <p class="diary-entry"><span class="diary-date">17 Mar</span> Go to shoot wild boar with Vander Staelins &mdash; none seen. Two foxes come out. None. Combatusi&egrave;re here.</p>

  <p class="diary-entry"><span class="diary-date">20 Mar</span> Expediting things with de Legge, de Mot. In afternoon General takes me to interrogate Arntz with Ahorn &mdash; tells into night. Gives info on new German CPs, also communications. Comes through Kesselring and Lucky (HQ).</p>

  <p class="diary-entry"><span class="diary-date">21 Mar</span> Make arrangements for LeBel to go to 1st Army and say goodbye to his men. Leave at 2 pm with Arntz for Honesft [?]. Car does not work at first. Arrive at VII Corps at 7 pm. Put Arntz to his billet. Talk with Leslie Carter, Freyss, Martin (Belgian). Will relieve Rafaele. Gunfire, German aircraft overhead. Fires. Rotral arrives.</p>

  <p class="diary-entry"><span class="diary-date">22 Mar</span> Go Bonn &ndash; Honnef. Find Arntz&rsquo; house not up, get his wife, also get it off limits. Dig for documents, find three. Good library. Ward off 8th Armored HQ. Leave after lunch with 104th men about 1 pm. Bonn, Euskirchen, Aachen, Li&egrave;ge. Arrive 6.30 pm. Put Arntz back at Eric&rsquo;s place. Get Bruning and General meeting on interrogation, also persuade [Corps?] unit needed. Orders issued on that. Rotral from Wiehl at McG[ladbach]? 9th Army.</p>

  <p class="diary-entry"><span class="diary-date">24 Mar</span> Leave for 3rd Army. Meet LeBel, Rotral, Legge, Krys there. Introduce them to Gen. Dolpese [?] and Koch. Lunch with Bilbane (Rh&eacute;toret). They go to Verdun. Go on to Trier and into Hunsr&uuml;ck, where see destruction. German PWs greeted by population. Go into a house in Trier for guns, cameras &mdash; find nothing but desolation and dirt. Take gramophone, blankets, ashtrays. St. Paulin in fact. Rest of town destroyed &frac12;. Spend evening at Lamberts.</p>

  <p class="diary-entry"><span class="diary-date">25 Mar</span> Return early Namur. Go to church. Rotral, LeBel, Legge return. Routine and last discussions with LeBel.</p>

  <p class="diary-entry"><span class="diary-date">26 Mar</span> LeBel leaves in morning. Try and arrange de Mot&rsquo;s problem. Tell him to establish himself in Brussels, detach one officer to us. Agrees.</p>

  <p class="diary-entry"><span class="diary-date">28 Mar</span> Leave for UK. [Downside &mdash; his old school in Somerset.]</p>

  <h2>April 1945</h2>

  <p class="diary-entry"><span class="diary-date">4 Apr</span> Returned by air Brussels. Arrange things on Belgians with Dryburgh. Find sedan which takes me to Luxembourg. Arrive and live at Brasseur. See Gretsches &mdash; there all my things. Rotral in Paris.</p>

  <p class="diary-entry"><span class="diary-date">5 Apr</span> Arrange routine. See Lamberts. HQ at Pescaten. De Mot arrives. Send him on to Houffalize.</p>

  <p class="diary-entry"><span class="diary-date">6 Apr</span> Go Verdun &amp; Metz. Gen. Dody on Security Bns. See Lee and return 8.30 pm.</p>

  <p class="diary-entry"><span class="diary-date">7 Apr</span> Routine in morning. Go Trier, Wittlich, Ehrang, Bernastel, Erden. Get Mosel wine. Country lovely. Sun and spring.</p>

  <p class="diary-entry"><span class="diary-date">8 Apr</span> Orders to join Main in Verdun. Pack up, goodbyes to Gretsches and Lamberts. Leave 4 pm. Arrive Verdun 6.30 pm. No office, no billets. Dine with Legge, Rotral, Dumencon, at Col. Hardi.</p>

  <p class="diary-entry"><span class="diary-date">9 Apr</span> Work with French, also fix things for Belgians, Poles, Russians, G-1 and G-5. General calls to tell me that I am to report back to TAC tomorrow.</p>

  <p class="diary-entry"><span class="diary-date">10 Apr</span> Go Luxembourg. Lunch. See Fraser and Lambert (Col. Br.) &mdash; go on to Wiesbaden. Report at 6.30 pm. Billeted at H&ocirc;tel Rose. Find good office. Rotral joins in evening.</p>

  <p class="diary-entry"><span class="diary-date">11 Apr</span> Arrange office. v. Papen arrives &mdash; meet him from airport, turn him over to Voskees. (v. Papen, his son &amp; Stockhausen, son-in-law.)</p>

  <p class="diary-entry"><span class="diary-date">12 Apr</span> Go 3rd Army &amp; VIII Corps with Rotral. See Sarrat at Ohrdruf &mdash; place where many PWs killed in ditch, Erfurt, Eisenach, Hersdorf. 3rd Army. See Edwards (PM) and Loenacs (Belg. L.O.). Return 8.30 pm.</p>

  <p class="diary-entry"><span class="diary-date">13 Apr</span> 5 Generals, German, arrive &mdash; send them on to Luxembourg to Voskees. Find plane after much fuss. Dine with Pag&egrave;s and party. Get Rhine wines during afternoon in Oestheim.</p>

  <p class="diary-entry"><span class="diary-date">16 Apr</span> Monday. Bill Jackson here. Go with Gen. and him to Bad Kissingen by way of Frankfurt. This latter very battered and beaten. Kissingen in good shape. Masses of German wounded in all hotels and sanitariums, also 6000 DPs. Lovely trip through the Rh&ouml;n. Pictures taken at Schwangfeld [?]. Talk to peasants who interested only in working fields and no more bombs (Jabos). However as usual all peasants are cagey &mdash; and are sure Hitler only died a few days ago. Return 7.30 pm.</p>

  <p class="diary-entry"><span class="diary-date">19 Apr</span> Thursday. Rotral returns, decorates Jackson with Legion [of Merit] in General&rsquo;s office. Rather funny. Bill leaves for Paris. Arrange papers for citizenship, also am thinking of going to Paris to see Biddle &mdash; Tritton. Call Trouchand for problems of Security Bns.</p>

  <p class="diary-entry"><span class="diary-date">20 Apr</span> Friday. Go to 15th Army and Honnef to see Mrs. Arntz. She now established at home, looks well. Did not find any more papers. Give her his letter. Take one [jeep?] from him. At 15th Army, Bad Nauenheim. Arrange for Sgt. Bns. and liaison with Gen. Dody. Lovely day on Rhine. Find Poles working for ordnance and very nice, young Lt. who gives me a tyre for jeep. Ride down the Lahn river valley. Unhappily many bridges blown, so have got back to Limburg and go down Autobahn. Return for dinner.</p>

  <p class="diary-entry"><span class="diary-date">22 Apr</span> Sunday. General tells me we are going to liaison with Russians at 10 am. Leave at 10 by way of Autobahn to Nuremberg, V Corps. Rain. Take Hackner [?]. Not bright for Russians. Arrive there after uneventful drive. Gen. H&uuml;bner receives us as usual with great friendliness. See Col. Forde, G-2. No news on Russians. Discuss French PW problem, also atrocities at Buchenwald, Nordhausen camps (7000 dead found).</p>

  <p class="diary-entry"><span class="diary-date">23 Apr</span> Monday. Leave for Leipzig. City battered but not too much, better than Cologne or Frankfurt. See Military Governor. Find Rotral and Baudoin there. Lunch on K-rations, then go to Eisleben, XII Corps. See Col. C. Carter and other old friends. No news on Russians. See Freyss, French Tac. Liaison. People scared of Russians coming in. Difficult to swallow that all this is going to be occupied by Asiatics. The people look quite happy about our having come, probably because bombing won&rsquo;t go on. One old farmer (Joh. Rohde) has been employing Jews during all these years. His wife cries as their son has been taken into Gestapo by Germans. This man gave all his money in NY for migrating Jews.</p>

  <p class="diary-entry"><span class="diary-date">24 Apr</span> Tuesday. Leave Corps at 9.30 for 104th Div. Gen. Terry Allen. Find them at Delitzsch in a cocoa factory. Told General is in front of D&uuml;ben. No news on Russians. However join up with Gen. Woodward, arty., off, and go to D&uuml;ben with him. Cross here the Mulde over a broken bridge, and find no German troops on the other side. Many German PWs coming over, also Polish and French. British-liberated PWs streaming toward us. All think Russians are quite near, all rumours however, no one has seen them. Germans think or have truce with them and are going to fight Russians, make them (German PWs) get a boat and bring their wounded on it. Lunch at 104th. Excitement at one moment because of 4 Russian soldiers in parachutes from Vlassov&rsquo;s Division being brought in by jeep. These men are trying to get away from Russians as they fought for Nazis. They are criminals who sacked St. Claude.</p>

  <p class="diary-entry"><span class="diary-date">25 Apr</span> Wednesday. Send off Hackner at 7 am &mdash; breakfast. Find PDR, French officer, Lt. Boncher, who astonished about D&uuml;ben &mdash; thinks one is fighting. Send him there. At 8.15 Gen. appears &mdash; tells me he has changed his mind and will have Hackner come back. Then go to Eilenburg, which defended by Vogler, Germ. major, who would not surrender, so town razed by arty. Vogler retired to Kaltyschen during night and is trying to hold there. See some air action on that town. Gen. McAuliffe to go to 2nd Div. in Grimma and see there, then through Leipzig to V Corps. Lunch here and after talk with G-2, go to Wiesbaden. Pick up trailer at Grimma. Arrive at 6 pm Wiesbaden.</p>

  <p class="diary-entry"><span class="diary-date">26 Apr</span> Thursday. See Koeltz and bring him to Gen. Bradley&rsquo;s trailer. He explains situation, also says link-up with Russians made by 69th Div. Ordered to hand up [?], so let Rotral depart with Koeltz to 1st Army for decorations and inspection. Arrange this trip for them. Routine and evening with Eric &amp; Lee.</p>

  <p class="diary-entry"><span class="diary-date">28 Apr</span> Saturday. Get ready to move. The people at Main have naturally mixed up the problem of rooms for our officers when they come here. The allotment of space having been made much too small. Raise hell on this with Col. Lentworth, the new Exec. at Main.</p>
  <p class="diary-entry">On fraternisation: none in our area; however the MG thinks that they are the defenders of the Germans against us and the Allied soldiers. Someday this will not pay. It were better if the soldier could sleep with the German girl; the MG on the other hand be more severe with the people. I hear in 6th Army Group [that] the non-fraternisation is carried to a point where the Germans are ignored so completely that one doesn&rsquo;t even order them to work or requisition the things needed for our own comfort. It&rsquo;s possible as they are not very bright there. The French Army fraternises on the other hand completely. French PWs arrive and hate Russians, think understanding with Germans necessary. It makes things quite difficult for de Gaulle.</p>

  <h2>May 1945</h2>

  <p class="diary-entry"><span class="diary-date">1 May</span> Tuesday. Chramiec here to discuss Polish problem, which is an awful mess. Send Red and girls to Wiesbaden. Dody did not leave, no flying, go up to Braunschweig by car. Give instructions to 9th Army to proceed with ceremony immediately after Rotral&rsquo;s arrival.</p>

  <p class="diary-entry"><span class="diary-date">2 May</span> Wednesday. Routine and 15th Army arrangements for decorations. Afternoon go to visit 54th Belgian Bn., Col. de Vaux, at Edesree [?]. Received me cordially. Try to get them on leave trains of 1st Army. Return after nice ride in lovely country. Find Rotral&rsquo;s office came back from XVIII Airborne Corps. Dinner with General at CIC.</p>

  <p class="diary-entry"><span class="diary-date">3&ndash;14 May</span> Went to 9th Army where attention on French Mission as ever unpleasant. Confer with Col. Millner, deputy C/S, who wants to know what is the use of having French (sic). Explain, so he has G-1 and G-5, also Col. Fraser (G-2) for conference with. All then asked by Millner tell me they don&rsquo;t need French. Coupled with many inaccurate statements which I correct. He [being?] that French are only useful to provide girls and liquor. In view of mass of repatriates, tell them they will need French more and more. After this G-5 ready to accept Bouvens, a Capt. PDR, as French representative. G-1 explains he needs 3 legal crimes officers. Next day Col. Millner phones to say he will accept Baudoin with secretary and driver. Also problem of Maj. Lemaitre who was caught with loot and accused of smuggling Germans into our lines. Andrews, PM, very excited. Explain to him that Lemaitre is SHAEF&rsquo;s officer and should be returned there. Went to 1st Army to make goodbyes to Col. Meyers &mdash; a good friend &mdash; and ask for a good word from him on Baudoin to Millner.</p>

  <p class="diary-entry"><span class="diary-date">11 May</span> Friday. General tells me to go immediately to Romers HQ to invite him for Gen. Bradley. Long conference with Gen. Bradley and Allen. Leave at 11.30 in Bradley&rsquo;s C-47 for Leipzig. Trip hedge-hopping all the time. Excellent pilot, much fun &mdash; feels like riding an automobile. Germans, cows, horses scared and duck. Arrive Leipzig at 1 pm.</p>
  <p class="diary-entry">Go to XII Corps HQ, where see Gen. Partridge, who knows neither where Romers HQ is, nor has prepared anything but jeep. Eat and lean with Capt. Fabry at 2.30 pm. Go to Eilenburg. Find no one. Go on to Torgau where see some Russian troops. Find here a Corps HQ, 24 Corps under Gen. Oburyenko. His C/S Col. Vermenenko receives me and after long palaver agrees to send radio to find out where Koniev is. In meantime late invite us to dinner, which heavy awful meatballs. Drink vodka with him. He offers me his cigarette case (silver, probably stolen from German). Have to reciprocate by giving my leather one. After much talk through Fabry, easily running around in circles to say nothing. Go to bed. Animals crawl all over me all night. Bite Fabry. Bathe then in dirtiest basin, watched by Kalmuc orderly. Then breakfast: vodka, meat balls, rice, tinned fish and beer. Ask for Cocoa &mdash; don&rsquo;t drink vodka or beer. Told to go to Senftenberg to find Koniev.</p>

  <p class="diary-entry"><span class="diary-date">12 May</span> Leave at 9.30. Drive by way of Riesa &ndash; Elsterwerda &ndash; Rutland? [?] &ndash; Br&uuml;cke &ndash; Senftenberg. All this district Mitteldeutscher Stahlwerke, mostly unharmed. Rabble along roads, some going west, some east in wagons, on foot. Binders. Tyre bursts completely. Arrive at Senftenberg at 1 pm. Find town major with women and Russian rabble. He however offers to take us to Koniev, who has gone in the meantime to Radebeuil near Dresden. Forest fires &mdash; cattle being driven by myshiks [muzhiks], dirt everywhere, dead cows, wounded, swarms of soldiers, carts, horses, women. Lunch on Spam, sour cream, cyder [?] and bread. Leave for Dresden, Autobahn. Stopped by 3 colonels who inquire who we are, also by 2 women MPs. Explain. Go through Dresden &mdash; awful sight of destruction of beauty. Find Koniev, make arrangements for his visit. He astonished I came without escort and only in jeep. Receives me well, gives me luncheon &mdash; caviar and small pig with Kasha, vodka, Caucasian wine. Get frightful cholera. Get a tyre from them which promises to return. Lives in B&uuml;rgertliches Villa [?]. Leave at 5 pm. Pick up English PWs whom deliver at Leipzig where sleep.</p>

  <p class="diary-entry"><span class="diary-date">13 May</span> Sunday. Wake up with cholera and cramps. Leave on L-1 for TAC after having given instructions to VII Corps on visit of Koniev. Also all information gathered on way. Get back very tired.</p>

  <p class="diary-entry"><span class="diary-date">14 May</span> Monday. Routine in office. Am OD for night. Col. Boucher, PWX (Fr.) arrives. See Lee on trip to Poland.</p>

  <p class="diary-entry"><span class="diary-date">16 May</span> Left for Jayhawk (Leipzig) with General on Bradley&rsquo;s plane. Arrive there 4 pm. Billeted at Gen. Collins&rsquo; house. Find Fabry. Go for walk in city and drink beer in pub. Dine with Collins.</p>

  <p class="diary-entry"><span class="diary-date">17 May</span> Leave 9 am for Eilenburg. Get there 9.20. Talk to peasant. Div. CO of 395th Russian Div. on the Mulde bridge. 9.30 Koniev arrives. Before that Russian photographer takes pictures of us and asks my name &mdash; Howard. Leave with Koniev&rsquo;s party to Leipzig airfield. Wait there so as not to arrive too early. Get Fritzlar 11.55 &mdash; Hildungen 12 pm. Lunch &mdash; drink journalists &mdash; picking my uniform of insignia &mdash; sickness on plane &mdash; propaganda &mdash; show at Hildesungen &mdash; Heifetz, Jitterbugs &mdash; Noise. Return Leipzig &ndash; Eilenburg &ndash; fatigue of Gen. Sibert and me.</p>

  <p class="diary-entry"><span class="diary-date">20 May</span> Go with Rotral to Regensburg, 3rd Army. See about de Forceville in connection with sending away of PWs&rsquo; liaison. Also Bilbane leaving. Sleep then see Sauube [?] &mdash; old memories. Town only little damaged. See Koch, very upset about Russian problem.</p>

  <p class="diary-entry"><span class="diary-date">23 May</span> Leave for Brunswick (9th Army), Bremen (29th Div., Gen. Gerhardt).</p>

  <p class="diary-entry"><span class="diary-date">24 May</span> Leave Hamburg &ndash; Ludwigslust (82nd AB, Gen. Gavin), Mecklenburg to Gardelegen (102nd Div., Gen. ...). Sleep in v. Bosch house. See town, rather fine. 52 horses from Hanoverian-Potsdam Schools. Fine &mdash; bad riding.</p>

  <p class="diary-entry"><span class="diary-date">25 May</span> Go Magdeburg &ndash; Halle &ndash; Leipzig. See there Col. Lehon, G-2, 9th Army &amp; Col. Goodwin. Gen. Partridge (MC) gives case of 24 bottles of vodka for Col. Mason (V Corps C/S). Weather good again. Sun. Go to Eger, 1st Div., Gen. Andrews. Find them in bad billets. People horrid. Walk to see Eger.</p>

  <p class="diary-entry"><span class="diary-date">26 May</span> Leave for Pilsen (V Corps) (Gen. Huebner), deliver vodka. Pass through Tachau, where see a Hungarian [?] and learn about horrid family. Leave only cigarettes, ask Corps HQ to do something for them. Go on to Grafenau, 12 Corps. See Viret and Gen. Caffeine [?]. Go on to Passau &ndash; Linz. 65th Div., Gen. [?]. Very good reception, party and dance.</p>

  <p class="diary-entry"><span class="diary-date">27 May</span> Go on to Gm&uuml;nden &ndash; St. Gilgen (Ebensee) &ndash; Salzburg. See Col. Allan, G-3, XV Corps &amp; St. Quentin. Lunch at &Ouml;sterreichische Hof. Go on to Berchtesgaden &ndash; Bad T&ouml;lz (3rd Army) Junkerschule. Very pretty place. See Koch, Fond, Franklin.</p>

  <p class="diary-entry"><span class="diary-date">28 May</span> Leave at 8.30 &ndash; Munich &ndash; Augsburg. See Gen. Patch there and White (C/S) also Szymanski. All 7th Army. Talk about Lizard chief &mdash; French officer only Capt. Continue Stuttgart &ndash; Karlsruhe &ndash; Worms &ndash; Speyer &ndash; Mannheim &ndash; Mainz &ndash; Wiesbaden. Spend night work with Belgians till midnight.</p>

  <p class="diary-entry"><span class="diary-date">29 May</span> Return Hildungen. Routine. Give dinner to Lt. Wallace and McLeary, Brit. Phantom.</p>

  <h2>June 1945</h2>

  <p class="diary-entry"><span class="diary-date">1 June</span> Depart Hildungen, jeep and trailer with Sgt. Pr&eacute;viti. Arrive Wiesbaden, join Main HQ. Billet bad.</p>

  <p class="diary-entry"><span class="diary-date">2 June</span> Tritrot Laspierre and Merlin arrive. Routine. Party at French house.</p>

  <p class="diary-entry"><span class="diary-date">3 June</span> See Gen. with Rotral on problem of French occupation zone and liaison with 1st French Army. Also settle problems with Belgians.</p>

  <p class="archive-note">The diary as scanned ends here. Sapieha proceeded to plan and execute his intelligence trip to Poland and Czechoslovakia in September 1945, separately documented in his TOP SECRET report (KOL.722/8, now declassified NND 017046).</p>

  <hr>

  <h2>Loose Fragment &mdash; Alsace-Lorraine Report</h2>
  <p class="archive-note">Two torn pages found loose in the diary (scans 70&ndash;71), written on thin paper, apparently a separate report.</p>

  <p class="diary-entry"><span class="diary-date">[n.d., circa autumn 1944]</span> During trips to XII Corps and XX Corps, found that our troops were looting in Lorraine and treating population as enemies. Population terrorised by Germans, many deported and not afraid to come out and greet our troops and put out flags. Also fighting in this region during October and November much heavier than in rest of France, destruction much greater. Our troops and even high-placed commanders were uncertain as to history of Alsace and Lorraine and convinced that population was pro-German or German. Then when they came in they often mistreated people and looting was wholesale. I drew attention to this and asked for specific facts from French G-5 personnel.</p>
  <p class="diary-entry">Asked also LeBel for a specific statement which he wanted to pass up for Bradley&rsquo;s information and action. French were quick at denouncing US troops and commanders, but on Jan. 20th had not produced necessary papers; did nothing prior to liberation to clear the Lorraine and Alsatians from pro-German feelings in eyes of our troops either.</p>

  <hr>

  <h2>Editorial Note: Key Persons Mentioned</h2>
  <p>The diary references numerous senior figures including: Gen. Omar Bradley (12th Army Group); Gen. Dwight D. Eisenhower; Gen. George S. Patton (3rd Army); Gen. Courtney Hodges (1st Army); Gen. William H. Simpson (9th Army); Gen. Leonard Gerow (V Corps); Gen. Manton Eddy (XII Corps); Gen. Alphonse Juin (French Army); Gen. Philippe Leclerc (2nd French Armoured); Gen. Pierre Koenig (French Forces of the Interior); Marshal Ivan Koniev (Soviet 1st Ukrainian Front); Gen. Dietrich von Choltitz (German Military Governor of Paris); Gen. Edwin Graf von Rothkirch (German, captured); Franz von Papen (former German Chancellor); Allen Dulles (OSS Bern); William H. Jackson (OSS / later CIA Deputy Director); Ernest Hemingway (war correspondent); Marlene Dietrich (entertainer); Pablo Picasso (artist); Prince Felix of Luxembourg; and many battalion, corps and division commanders throughout the Western Front.</p>

  <div class="archive-nav">
    <a href="/archive/diary-part-1">&larr; Part I: Normandy to the Bulge</a>
    <a href="/archive">Back to Archive &rarr;</a>
  </div>
</Layout>
