---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact">
  <h1>Contact</h1>
  <p>For enquiries about this site, please email: <a href="mailto:christine@fremantle.org">christine@fremantle.org</a></p>
</Layout>
