---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Wita Stwosza altarpiece">
  <h1>Wita Stwosza altarpiece</h1>

  <p>Paul Sapieha was involved in the return of the Wita Stwosza altarpiece (also known in Germany as the Veit Stoss Altarpiece) to Krak&oacute;w. This involved US Army personnel convoying into Poland, then occupied by the Soviet forces.</p>

  <p>Agata Wolska recently published <em>Zagrabiony Odzyskany: Historia powrotu o&#322;tarza Wita Stwosza do Krakowa</em>, describing the altarpiece&rsquo;s return &mdash; currently available only in Polish.</p>

  <p>His report for the US Army can be downloaded as a PDF here: <a href="/files/sapieha-report-poland-1945.pdf">sapieha-report-poland-1945</a></p>

  <p>The photographs below are visible proof that Paul Sapieha was in Poland in 1945. Agata Wolska described these as the final confirmation of his role.</p>

  <figure>
    <img src="/images/altarpiece-1945-1.jpg" alt="Paul Sapieha in Poland, 1945">
    <figcaption>Poland, 1945</figcaption>
  </figure>
</Layout>
