---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="In Memoriam">
  <h1>In Memoriam</h1>

  <figure>
    <img src="/images/img_0355.jpg" alt="Paul Sapieha with Phoebe at Trebbio">
    <figcaption>With Phoebe at Trebbio</figcaption>
  </figure>

  <h2>Newspaper Announcements</h2>

  <div class="image-row">
    <figure>
      <img src="/images/telegraph20memorial20notice.jpg" alt="Telegraph memorial notice">
      <figcaption>Telegraph memorial notice</figcaption>
    </figure>
    <figure>
      <img src="/images/polish20announcement.jpg" alt="Polish announcement">
      <figcaption>Polish announcement</figcaption>
    </figure>
    <figure>
      <img src="/images/img_0356.jpg" alt="Memorial notice">
      <figcaption>Memorial notice</figcaption>
    </figure>
  </div>
</Layout>
