---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="In Memoriam">
  <h1>In Memoriam</h1>

  <figure>
    <img src="/images/img_0355.jpg" alt="Paul Sapieha with Phoebe at Trebbio" width="2142" height="1607">
    <figcaption>With Phoebe at Trebbio</figcaption>
  </figure>

  <h2>Newspaper Announcements</h2>

  <div class="image-row">
    <figure>
      <img src="/images/telegraph20memorial20notice.jpg" alt="Telegraph memorial notice" width="1266" height="2448">
      <figcaption>Telegraph memorial notice</figcaption>
    </figure>
    <figure>
      <img src="/images/polish20announcement.jpg" alt="Polish announcement" width="1281" height="1263">
      <figcaption>Polish announcement</figcaption>
    </figure>
    <figure>
      <img src="/images/img_0356.jpg" alt="Memorial notice" width="1584" height="1187">
      <figcaption>Memorial notice</figcaption>
    </figure>
  </div>
</Layout>
