---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="'Polish Profile' by Virgilia Sapieha">
  <h1>&lsquo;Polish Profile&rsquo; by Virgilia Sapieha</h1>

  <p>Princess Paul Sapieha was born Virgilia Peterson in New York in 1904. She went to Vassar for two years and then to the University of Grenoble in France, where she met Prince Paul Sapieha, who was a fellow student.</p>

  <p>She worked as a book reviewer for the <em>New York Herald Tribune</em> and contributed short stories to <em>Harper&rsquo;s</em> and <em>Scribner&rsquo;s</em> magazines. In 1932, she relocated to Vienna to pursue writing. Following their 1933 marriage, she lived in Poland until September 1939, when she fled with her children.</p>

  <p><em>Polish Profile</em> documents her six years in Poland, concluding on 10 September 1939. A notable piece titled &ldquo;Departure from Poland&rdquo; appeared in <em>The New Yorker</em>, describing her wartime escape.</p>

  <p>In 2018, Karta published the first Polish translation.</p>
</Layout>
